{% extends "base.html" %} {% block content %}

<h1 align="CENTER">Instructions for Formatting JMLR Articles</h1>

<table cellpadding="3">
  <tr>
    <strong>Leslie Pack Kaelbling (lpk@ai.mit.edu)</strong>
    <br />
    Artificial Intelligence Laboratory
    <br />
    Massachusetts Institute of Technology
    <br />
    545 Technology Square
    <br />
    Cambridge, MA 02139, USA
  </tr>
  <br />
  <tr>
    <br />
    <strong>David Cohn (david.cohn@burning-glass.com)</strong>
    <br />
    Burning Glass Technologies
    <br />
    201 S.&nbsp;Craig Street, 2 West
    <br />
    Pittsburgh, PA 15213, USA
  </tr>
</table>
<p></p>

<h3>Abstract:</h3>
<div>
  This document, which is based on an earlier document by
  <a href="format.html#Minton99">Minton et al., (1999)</a>, describes the
  required formatting of JMLR papers, including margins, fonts, citation styles,
  and figure placement. It describes how authors can obtain and use a L<sup
    ><small>A</small></sup
  >T<small>E</small>X style file that will ease adherence to the requirements.
  It also contains a section on avoiding formatting errors that frequently
  appear in JMLR submissions. While the format requirements are only compulsory
  for final submissions, we encourage authors to adopt and adhere to its
  recommendations throughout the submission process.
</div>
<p></p>

<p>
  <br />
</p>

<p></p>

<h1><a name="SECTION00010000000000000000"> Introduction</a></h1>

<p>
  To ensure that all articles published in the journal have a uniform
  appearance, authors must produce a PostScript or PDF document that meets the
  formatting specifications outlined here. The document will be used for both
  the hardcopy and electronic versions of the journal.
</p>

<p>
  This document briefly describes and illustrates the JMLR format. It draws
  <em>very</em> heavily from an earlier document by
  <a href="format.html#Minton99">Minton et al., (1999)</a>. Your article should
  look as similar as possible to the JMLR sample article which can be found at
  <a href="https://github.com/JmlrOrg/jmlr-style-file"
    ><tt>https://github.com/JmlrOrg/jmlr-style-file</tt></a
  >. Below we outline the basic specifications, including font sizes, margins,
  etc. However, the point is to have your articles look similar to the sample,
  and when in doubt you should use the sample as your guide. Please feel free to
  contact the editor of JMLR if you have any questions.
</p>

<p>
  The remainder of this document is organized as follows. Section&nbsp;<a
    href="format.html#style-section"
    >2</a
  >
  describes the style and formatting requirements for JMLR papers.
  Section&nbsp;<a href="format.html#template-section">3</a> describes how to
  obtain the formatting templates that should simplify following the
  requirements, and Section&nbsp;<a href="format.html#errors-section">4</a>
  describes common formatting errors that should be avoided.
</p>

<p></p>

<h1>
  <a name="SECTION00020000000000000000"></a> <a name="style-section"></a><br />
  Style and Format
</h1>

<p>
  Papers must be printed in the single column format as shown in the enclosed
  sample. Margins should be 1 1/4 inch left and right. Headers should be 1/2
  inch from top and footer should be 1 inch from bottom of page. Title should
  start 1 1/2 inches from the top of the page.
</p>

<p></p>

<h2><a name="SECTION00021000000000000000"> Fonts</a></h2>

<p>
  You should use Times Roman style fonts. Please be very careful not to use
  nonstandard or unusual fonts in the paper. Including such fonts will cause
  problems for many printers.
</p>

<p>
  Headers and Footers should be in 9pt type. The title of the paper should be in
  14pt bold type. The abstract title should be in 11pt bold type, and the
  abstract itself should be in 10pt type. First headings should be in 12 point
  bold type and second headings should be in 11 point bold type. The text and
  body of the paper should be in 11 point type.
</p>

<p></p>

<h2><a name="SECTION00022000000000000000"> Title and Authors</a></h2>

<p>
  The title appears near the top of the first page, centered. Authors' names
  should appear in designated areas below the title of the paper in twelve point
  bold type. Authors' affiliations and complete addresses should be in italics,
  and their electronic addresses should be in small capitals (see sample
  article).
</p>

<p></p>

<h2><a name="SECTION00023000000000000000"> Abstract</a></h2>

<p>
  The abstract appears at the beginning of the paper, indented 1/4 of an inch
  from the left and right margins. The title ``Abstract'' should appear in bold
  face 11 point type, centered above the body of the abstract. The abstract body
  should be in 10 point type.
</p>

<p></p>

<h2><a name="SECTION00024000000000000000"> Headings and Sections</a></h2>

<p>
  When necessary, headings should be used to separate major sections of your
  paper. First-level headings should be in 12 point bold type and second-level
  headings should be in 11 point bold type. Do not skip a line between
  paragraphs. Third-level headings should also be in 11 point bold type. All
  headings should be capitalized. After a heading, the first sentence should
  <em>not</em> be indented.
</p>

<p>
  References to sections (as well as figures, tables, theorems and so on),
  should be capitalized, as in ``In Section 4, we show that...''.
</p>

<p></p>

<h3><a name="SECTION00024100000000000000"> Appendices</a></h3>

<p>
  Appendices, if included, follow the acknowledgments. Each appendix should be
  lettered, e.g., ``Appendix A''. If online appendices are submitted, they
  should not be included in the final manuscript (see below), although they may
  be referred to in the manuscript. They will be published online in separate
  files. The online appendices should be numbered and referred to as Online
  Appendix 1, Online Appendix 2, etc.
</p>

<p></p>

<h3><a name="SECTION00024200000000000000"> Acknowledgements and Disclosure of Funding</a></h3>

<p>
  All acknowledgements go at the end of the paper before appendices and references.
  Moreover, you are required to declare funding (financial activities supporting the
  submitted work) and competing interests (related financial activities outside the submitted work).
</p>

<p></p>

<h2><a name="SECTION00025000000000000000"> Figures and Tables</a></h2>

<p>
  Figures and tables should be inserted in proper places throughout the text. Do
  not group them together at the beginning of a page, nor at the bottom of the
  paper. Number figures sequentially, e.g., Figure 1, and so on.
</p>

<p>
  The figure or table number and the caption should appear under the
  illustration. Leave a margin of one-quarter inch around the area covered by
  the figure and caption. Captions, labels, and other text in illustrations must
  be at least nine-point type.
</p>

<p>
  At present, some types of illustrations in your manuscript may cause problems
  for some printers/previewers. Although this is gradually becoming less of an
  issue, we encourage authors to use ``reliable'' programs for producing
  figures. Before your paper can be accepted, we must verify that all your
  figures print successfully on our printers and may be viewed with Adobe
  Acrobat Reader or Ghostview.
</p>

<p></p>

<h2><a name="SECTION00026000000000000000"> Headers and Footers</a></h2>

<p>
  The first page of your article should include the journal name, volume number,
  year and page numbers in the upper left corner, the submission date and
  publication date in the upper right corner, and the copyright notice in the
  lower left corner. The editor will let you know the volume number, year,
  pages, submission date and publication date.
</p>

<p>
  On the even numbered pages, the header of the page should be the authors'
  names. On the odd pages, starting with page 3, the header should be the title
  of the paper (shortened if necessary, as in the sample).
</p>

<p></p>

<h3>
  <a name="SECTION00026100000000000000"> Page Numbering and Publication Date</a>
</h3>

<p>
  Leave the page number starting at one. The Production Editor will change the
  page numbers according to the actual order of publication, and will insert the
  proper page numbers in the heading of your article.
</p>

<p>
  For submission dates, please do the following. If the paper was accepted with
  no revisions the first time just include the submission date (month and year)
  as the fourth argument to the \jmlrheading command. For example, for a paper
  submitted February 12, 2005, the fourth argument should be
</p>

<p>{2/05}</p>

<p>
  If your paper was returned for revisions, please insert the original date of
  submission followed by the text "; Revised " and then the date the revision
  was submitted, like this (for a paper originally submitted Feb, 2005 and
  resubmitted in April of 2005):
</p>

<p>{2/05; Revised 4/05}</p>

<p>
  You may leave the publication date (the fifth argument to \jmlrheading) blank
  and it will be filled in by the Production Editor.
</p>

<p></p>

<h3><a name="SECTION00026200000000000000"> Footnotes</a></h3>

<p>
  We encourage authors to use footnotes sparingly, especially since they may be
  difficult to read online. Footnotes should be numbered sequentially and should
  appear at the bottom of the page, as shown below.<a
    name="tex2html3"
    href="#foot46"
    ><sup>1</sup></a
  >
</p>

<p></p>

<h2>
  <a name="SECTION00027000000000000000"></a> <a name="reference-section"></a
  ><br />
  References
</h2>
The reference section should be labeled ``References'' and should appear at the
end of the paper in <tt>natbib</tt> format. A sample list of references is given
in Appendix A. Poorly prepared, incomplete or sloppy references reflect badly on
the quality of your scholarship. Please prepare complete and accurate citations.

<p>
  Citations within the text should include the author's last name and year, for
  example (Cheeseman, 1992). Append lower-case letters to the year in cases of
  ambiguity, as in (Cheeseman, 1993a). Multiple authors should be treated as
  follows: (Cheeseman &amp; Englemore 1988) or (Englemore, Cheeseman &amp;
  Buchanan, 1992). In the case of three or more authors, the citation can be
  shortened by referring only the first author, followed by ``<em>et al.</em>'',
  as in (Clancey et al., 1991). Multiple citations should be separated by a
  semi-colon, as in (Cheeseman, 1993a; Buntine, 1992). If two works have the
  same author or authors, the appropriate format is as follows: (Drummond 1990,
  1991).
</p>

<p>
  If the authors' names are mentioned in the text, the citation need only refer
  to the year, as in ``Cheeseman and Englemore (1988) showed that...''.
</p>

<p>
  In general, you shouldn't have parenthetical statements embedded in
  parenthetical statements. Therefore, citations within parenthetical statements
  should not be embedded in parentheses. Use commas as separators instead. For
  instance, rather than ``(as shown by Bresina (1992))'' you should write ``(as
  shown by Bresina, 1992)''. Similarly, ``(e.g., (Bresina, 1992))'' should be
  ``(e.g., Bresina, 1992). Note that the <tt>natbib</tt> style file supports the
  inclusion of prefixes in citations.
</p>

<p></p>

<h1>
  <a name="SECTION00030000000000000000"></a> <a name="template-section"></a
  ><br />
  Formatting Templates
</h1>

<p>
  To ready your work for publication, please typeset it using software such
  L<sup><small>A</small></sup
  >T<small>E</small>X that produces PostScript or PDF output (L<sup
    ><small>A</small></sup
  >T<small>E</small>X is preferred.) A L<sup><small>A</small></sup
  >T<small>E</small>X style file is available at
  <a href="http://www.jmlr.org/format/jmlr2e.sty"
    ><tt>http://www.jmlr.org/format/jmlr2e.sty</tt></a
  >
  or from the editor. We hope to eventually have macros/samples for other
  document preparation systems as well. We recommend working from the L<sup
    ><small>A</small></sup
  >T<small>E</small>X source of the sample article (at
  <a href="http://www.jmlr.org/format/sample.tex"
    ><tt>http://www.jmlr.org/format/sample.tex</tt></a
  >), which has been annotated to simplify use of the macros in the style file.
  If you must use a document preparation system other than L<sup
    ><small>A</small></sup
  >T<small>E</small>X, please discuss this with the editor prior to submitting
  your final document. If you do not have the software necessary to produce
  acceptable PostScript or PDF files, the editor will recommend a professional
  service for formatting your article. (Authors will be responsible for paying
  for this service).
</p>

<p></p>

<h2>
  <a name="SECTION00031000000000000000"> Using <tt>jmlr2e.sty</tt> </a>
</h2>

<p>
  The L<sup><small>A</small></sup
  >T<small>E</small>X source for the sample paper, at
  <tt>http://www.jmlr.org/format/sample.tex</tt>, details the use of most of the
  macros in <tt>jmlr2e</tt>; we describe a few of the macros here for
  illustration.
</p>

<p>
  The paper should begin with a specification of the document class and JMLR
  style file:
  <br />
  <br /><code>\documentclass[twoside,11pt]{article}</code> <br /><code
    >\usepackage{jmlr2e}</code
  >
  <br />
</p>

<p>
  The following command can be used in the LaTex version of your paper to set
  the first page header:
  <br />
  <br /><code
    >\jmlrheading{1}{2000}{1-48}{4/00}{10/00}{00-000}{author list}</code
  >
  <i># dates/pages from editor</i>
</p>

<p>
  To set your title and authors for headings:
  <br /><code>\ShortHeadings{short title}{short authors}</code>
</p>

<p>
  For example:
  <br /><code>\ShortHeadings{Minimizing Conflicts}{Minton et al.}</code> <br />
</p>

<p>
  To set your page numbers:
  <br /><code>\firstpageno{?}</code>
  <i>the pagenumber you are assigned to start with by the editor.</i> <br />
</p>

<p>
  Authors are specified with the ``author'' macro:
  <br /><code>\author{\name Author One \email author-one-email\\</code>
  <br /><code> \addr Author One address line one\\</code> <br /><code>
    Author One address line two\\</code
  >
  <br /><code> Author One address line three...</code> <br /><code> \AND</code>
  <br /><code> \name Author Two \email author-two-email\\</code> <br /><code>
    \addr Author Two address line one\\</code
  >
  <br /><code> Author Two address line two\\</code> <br /><code>
    Author Two address line three...}</code
  >
  <br />
</p>

<p>
  If multiple authors share an affiliation, it may be appended to the group by
  specifying:
  <br /><code>\author{\name Author One \email author-one-email\\</code>
  <br /><code> \name Author Two \email author-two-email\\</code> <br /><code>
    \addr Authors' address line one\\</code
  >
  <br /><code> Authors' address line two\\</code> <br /><code>
    Authors' address line three...}</code
  >
</p>

<p></p>

<h2>
  <a name="SECTION00032000000000000000"> Citations using <tt>natbib</tt> </a>
</h2>
The recommended citation style file, <tt>natbib</tt>, is included in
<tt>jmlr2e.sty</tt>. It supports the citation styles described in
Section&nbsp;<a href="format.html#reference-section">2.7</a> with macros such as
<code>\citep{}</code> and <code>\citet{}</code>. The basic uses of
<code>\citep{}</code> and <code>\citet{}</code> are as follows:

<p></p>
<table cellpadding="3">
  <tr>
    <td align="LEFT"><code>\citet{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">Jones et al. (1990)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citet[chap.~2]{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">Jones et al. (1990, chap. 2)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citep{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">(Jones et al., 1990)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citep[chap.~2]{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">(Jones et al., 1990, chap. 2)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citep[see][]{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">(see Jones et al., 1990)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citep[see][chap.~2]{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">(see Jones et al., 1990, chap. 2)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citet*{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">Jones, Baker, and Williams (1990)</td>
  </tr>
  <tr>
    <td align="LEFT"><code>\citep*{jon90}</code></td>
    <td align="LEFT">=></td>
    <td align="LEFT">(Jones, Baker, and Williams, 1990)</td>
  </tr>
</table>

<p>
  For details on making citations with natbib macros, see the natbib
  documentation <a href="format.html#Daly97">Daly97</a>, a copy of which is
  available at
  <a href="http://www.jmlr.org/format/natbib.pdf"
    ><tt>http://www.jmlr.org/format/natbib.pdf</tt></a
  >.
</p>

<p></p>

<h1>
  <a name="SECTION00040000000000000000"></a> <a name="errors-section"></a><br />
  Avoiding Common Errors
</h1>

<p>
  As we do the final editing passes on JMLR papers, we find a fairly consistent
  set of problems repeated over and over. Here's a list of them. JMLR won't
  enforce conformity with these rules, but it would certainly please the editors
  if you followed them.
</p>

<p></p>

<h4><a name="SECTION00040010000000000000"> Dashes</a></h4>
Dashes should be used--with care--to set off interjections in a sentence. They
should be long and there should not be spaces between them and the preceding and
following words. Thus, in LaTeX, the input should look like this:
<pre>
        Dashes should be used---with care---to set off ...
    </pre
>

<p></p>

<h4><a name="SECTION00040020000000000000"> Lower case names</a></h4>
The names of fields, algorithms, methods, etc., should be in lower case:
cognitive science, reinforcement learning, principal components analysis.
Exceptions are when they are in names of organizational entities, like Cognitive
Science Department, or when they include proper names, such as Markov decision
processes or Gaussian densities, or Bayes' rule.

<p></p>

<h4><a name="SECTION00040030000000000000"> Latin abbrevs.</a></h4>
Scientists seem to like to use the Latin abbreviations <em>i.e.</em> and
<em>e.g.</em> First, I'd like to encourage you to try to do without them. If you
can't, then use the English equivalents (``that is'' instead of
<em>i.e.</em> and ``for example'' instead of <em>e.g.</em>) If you really love
the Latin (then you're a Latin lover?) you should at least do it right. There
should be a period after each letter (because they're abbreviations), and there
should be a comma after the expression. If you're addicted to these things, I
encourage you to define and use LaTeX macros like
<pre>
        \newcommand{\ie}{i.e.}
    </pre
>

<p></p>

<h4><a name="SECTION00040040000000000000"> Equation numbers</a></h4>
Only number equations that are actually referred to later in the text.

<p></p>

<h4><a name="SECTION00040050000000000000"> Citations</a></h4>
Citations are not nouns. It is not correct to say ``Using the method of (Smith,
1999), we ...'' Instead, say ``Using the method of Smith (1999), we ...'' or
``Using the method of partial discombobulation (Smith, 1999), we ....''. See the
section on references (Section&nbsp;<a href="format.html#reference-section"
  >2.7</a
>) for more details on correct and incorrect citation forms.

<p></p>

<h4><a name="SECTION00040060000000000000"> Punctuate math</a></h4>
Sentences with mathematical statements in them are still sentences, subject to
the usual rules of grammar and punctuation. As
<a href="format.html#Knuth89">Knuth et&nbsp;al.,(1989)</a> say,<a
  name="tex2html4"
  href="#foot123"
  ><sup>2</sup></a
>
you should test this by reading out your paper with things like ``snort'' and
``grunt'' substituted in for the mathematics and listening to see whether it's
grammatically correct.

<p>
  Never put a footnote directly after a mathematical expression; it is too
  easily confused with an exponent.
</p>

<p></p>

<h4><a name="SECTION00040070000000000000"> Hyphenating compound nouns</a></h4>
When you have a long string of nouns together, they often need hyphenation to
make the meaning clear (and to make your editor happy). Here are some examples
of correct expressions:

<ul>
  <li>reinforcement learning</li>
  <li>reinforcement-learning algorithm</li>
  <li>delayed-reinforcement learning (learning from delayed reinforcement)</li>
  <li>
    delayed reinforcement learning (reinforcement learning that is delayed)
  </li>
</ul>
What are the rules? Here's a simple view: by default, modifiers bind to the
phrase to their right. If you want to override that, then you need to use a
hyphen. Consider the string of words ``country chicken pump dispenser'' (seen in
an actual catalog). A ``pump dispenser'' is either something that dispenses
pumps or that dispenses by pumping. A ``chicken pump dispenser'' is, perhaps, a
pump dispenser in the shape of a chicken. But a ``chicken-pump dispenser'' is
something that dispenses chicken pumps. The object in the catalog was a soap
dispenser in the shape of a country chicken (as opposed to a city chicken, I
guess) with a pump. So, probably, it should have been a ``country-chicken pump
dispenser'', since ``pump'' modifies ``dispenser,'' ``country'' modifies
``chicken,'' and the phrase ``country chicken'' modifies ``pump dispenser.''
Whew. Many people think it's bad form to use such long strings of nouns anyway.

<p></p>

<h4><a name="SECTION00040080000000000000"> Don't use ``utilize.''</a></h4>

<p></p>

<h4>
  <a name="SECTION00040090000000000000">
    Don't start a section with a subsection</a
  >
</h4>
A section heading should never immediately follow another section heading
without intervening text. So don't do this:

<p>
  <code> 5. Experimental Results</code>
  <br />
  <br /><code> 5.1 Results on a Simulated Domain</code> <br />
</p>

<p>Instead, do this:</p>

<p>
  <code> 5. Experimental Results</code>
  <br />
  <br /><code> In this section, we first describe blah, blah, blah...</code>
  <br />
  <br /><code> 5.1 Results on a Simulated Domain</code> <br />
</p>

<p></p>

<h1>
  <a name="SECTION00050000000000000000">
    Appendix A: Natbib Reference Examples</a
  >
</h1>

<p>
  The following formatting examples are intended to be illustrative, not
  exhaustive. If you are uncertain about the proper format for a reference,
  please contact the JMLR editors.
</p>

<p></p>
<dl>
  <dt><strong>Book</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Richard Bellman.
    <br /><em>Dynamic Programming</em>. <br />Princeton University Press,
    Princeton, New Jersey, 1957.

    <p></p>
  </dd>

  <dt><strong>Edited Book</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Robert&nbsp;R. Bush and William&nbsp;K. Estes, editors.
    <br /><em>Studies in Mathematical Learning Theory</em>. <br />Stanford
    University Press, Stanford, California, 1959.

    <p></p>
  </dd>

  <dt><strong>Journal Article</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Dana Angluin and Philip Laird.
    <br />Learning from noisy examples. <br /><em>Machine Learning</em>,
    2(4):343-370, 1988.

    <p></p>
  </dd>

  <dt><strong>Proceedings Paper</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Charles&nbsp;W. Anderson.
    <br />Strategy learning with multilayer connectionist representations.
    <br />In
    <em>Proceedings of the Fourth International Workshop on Machine Learning</em
    >, pages 103-114, Ann Arbor, Michigan, 1987.

    <p></p>
  </dd>

  <dt><strong>Technical Report</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Andrew&nbsp;G. Barto.
    <br />Connectionist learning for control. <br />Technical Report 89-89,
    Department of Computer and Information Science, University of Massachusetts,
    Amherst, Massachusetts, 1989.

    <p></p>
  </dd>

  <dt><strong>Dissertation or Thesis</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Michael&nbsp;L. Littman.
    <br /><em>Algorithms for Sequential Decision Making</em>. <br />PhD thesis,
    Brown University, Providence, Rhode Island, 1996.

    <p></p>
  </dd>

  <dt><strong>Forthcoming Publication</strong></dt>
  <dd>
    <code> </code> <br /><code> </code>
    Stephen&nbsp;H. Muggleton.
    <br />Statistical aspects of logic-based machine learning. <br /><em
      >ACM Transactions on Computational Logic</em
    >, forthcoming.
  </dd>

  <p></p>

  <h2><a name="SECTION00060000000000000000"> Bibliography</a></h2>

  <p></p>
  <dt>
    <a name="Daly97">Patrick&nbsp;W. Daly.</a> Natural sciences citations and
    references. Available electronically at
    <a
      href="ftp://ftp.freesoftware.com/pub/tex/ctan/macros/contrib/supported/natbib"
      ><tt
        >ftp://ftp.freesoftware.com/pub/tex/ctan/macros/contrib/supported/natbib</tt
      ></a
    >, 1997.

    <p></p>
  </dt>

  <dt>
    <a name="Knuth89"
      >Donald&nbsp;E. Knuth, Tracy&nbsp;L. Larrabee, and Paul&nbsp;M.
      Roberts.</a
    >
    <em>Mathematical Writing</em>. Mathematical Association of America,
    Washington, D.C., 1989. ISBN 0-88385-063-X.

    <p></p>
  </dt>

  <dt>
    <a name="VanLeunen92">Mary Claire&nbsp;Van Leunen.</a>
    <em>A Handbook for Scholars</em>. Oxford University Press, 1992.

    <p></p>
  </dt>

  <dt>
    <a name="Minton99"
      >Steven Minton, Martha&nbsp;Del Alto, and Helen Stewart.</a
    >
    Instructions for formatting JAIR articles. Available electronically via
    <a href="http://www.jair.org/submission-info.html"
      ><tt>http://www.jair.org/submission-info.html</tt></a
    >, 1999.

    <hr />
    <h4>Footnotes</h4>

    <p>
      <a name="foot46" href="format.html#tex2html3"><sup>1</sup></a
      >A footnote should appear like this. Please ensure that your footnotes are
      complete, fully punctuated sentences.
    </p>

    <p>
      <a name="foot123" href="format.html#tex2html4"><sup>2</sup></a
      >I recommend this book highly to anyone who likes to think about technical
      writing. While we're on the subject, I also highly recommend the (sadly,
      out of print)
      <a href="format.html#VanLeunen92"><em>Handbook for Scholars</em></a> by
      Mary-Claire van Leunen (1992).
    </p>

    <hr />
    <address>David Cohn 2001-03-09</address>

    {% endblock %}
  </dt>
</dl>
