{% extends "base.html" %} {% block content %}


<H1 ALIGN="CENTER">Instructions for Formatting JMLR Articles</H1>
    
    <table cellpadding=3>
    <tr>
    <strong>Leslie Pack Kaelbling (lpk@ai.mit.edu)</strong>
    <BR>       Artificial Intelligence Laboratory
    <BR>       Massachusetts Institute of Technology
    <BR>       545 Technology Square
    <BR>       Cambridge, MA 02139, USA
    </tr>       
    <br>
    <tr>
    <BR>       <strong>David Cohn (david.cohn@burning-glass.com)</strong>
    <BR>       Burning Glass Technologies
    <BR>       201 S.&nbsp;Craig Street, 2 West
    <BR>       Pittsburgh, PA 15213, USA</P>
    </tr>
    </table>
    <P>
    
    <H3>Abstract:</H3>
    <DIV>This document, which is based on an earlier document by
    <a href="format.html#Minton99">Minton et al., (1999)</a>, describes the required formatting of JMLR papers,
    including margins, fonts, citation styles, and figure placement. It
    describes how authors can obtain and use a L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X style file that
    will ease adherence to the requirements.  It also contains a section
    on avoiding formatting errors that frequently appear in JMLR
    submissions. While the format requirements are only compulsory for
    final submissions, we encourage authors to adopt and adhere to its
    recommendations throughout the submission process.
    </DIV>
    <P>
    
    <P>
    <BR>
    
    <P>
    
    <H1><A NAME="SECTION00010000000000000000">
    Introduction</A>
    </H1>
    
    <P>
    To ensure that all articles published in the journal have a uniform
    appearance, authors must produce a PostScript or PDF document that
    meets the formatting specifications outlined here. The document will
    be used for both the hardcopy and electronic versions of the journal.
    
    <P>
    This document briefly describes and illustrates the JMLR format. It
    draws <EM>very</EM> heavily from an earlier document by <a href="format.html#Minton99">Minton et al., (1999)</a>.
    Your article should look as similar as possible to <a href="http://www.jmlr.org/format/format.ps">PostScript version</a> or <a href="http://www.jmlr.org/format/sample.pdf">PDF version</a> of this document, or
    to the JMLR sample article which can be found at <a href="http://www.jmlr.org/format/sample.ps"><TT>http://www.jmlr.org/format/sample.ps</TT></a>.  Below we outline the basic
    specifications, including font sizes, margins, etc.  However, the
    point is to have your articles look similar to the sample, and when in
    doubt you should use the sample as your guide. Please feel free to
    contact the editor of JMLR if you have any questions.
    
    <P>
    The remainder of this document is organized as
    follows. Section&nbsp;<A HREF="format.html#style-section">2</A> describes the style and
    formatting requirements for JMLR
    papers. Section&nbsp;<A HREF="format.html#template-section">3</A> describes how to obtain the
    formatting templates that should simplify following the requirements,
    and Section&nbsp;<A HREF="format.html#errors-section">4</A> describes common formatting errors
    that should be avoided.
    
    <P>
    
    <H1><A NAME="SECTION00020000000000000000"></A>
    <A NAME="style-section"></A><BR>
    Style and Format
    </H1>
    
    <P>
    Papers must be printed in the single column format as shown in the
    enclosed sample.  Margins should be 1 1/4 inch left and right.  Headers
    should be 1/2 inch from top and footer should be 1 inch from bottom
    of page.  Title should start 1 1/2 inches from the top of the page.
    
    <P>
    
    <H2><A NAME="SECTION00021000000000000000">
    Fonts</A>
    </H2>
    
    <P>
    You should use Times Roman style fonts. Please be very careful not to
    use nonstandard or unusual fonts in the paper. Including such fonts will
    cause problems for many printers.
    
    <P>
    Headers and Footers should be in 9pt type.  The title of the paper
    should be in 14pt bold type.  The abstract title should be in 11pt
    bold type, and the abstract itself should be in 10pt type.  First
    headings should be in 12 point bold type and second headings should be
    in 11 point bold type.  The text and body of the paper should be in 11
    point type.
    
    <P>
    
    <H2><A NAME="SECTION00022000000000000000">
    Title and Authors</A>
    </H2>
    
    <P>
    The title appears near the top of the first page, centered.  Authors'
    names should appear in designated areas below the title of the paper
    in twelve point bold type. Authors' affiliations and complete
    addresses should be in italics, and their electronic addresses should
    be in small capitals (see sample article).
    
    <P>
    
    <H2><A NAME="SECTION00023000000000000000">
    Abstract</A>
    </H2>
    
    <P>
    The abstract appears at the beginning of the paper, indented 1/4 of an
    inch from the left and right margins.  The title ``Abstract''
    should appear in bold face 11 point type, centered above the body of
    the abstract.  The abstract body should be in 10 point type.
    
    <P>
    
    <H2><A NAME="SECTION00024000000000000000">
    Headings and Sections</A>
    </H2>
    
    <P>
    When necessary, headings should be used to separate major sections of
    your paper.  First-level headings should be in 12 point bold type and
    second-level headings should be in 11 point bold type.  Do not skip a
    line between paragraphs.  Third-level headings should also be in 11
    point bold type.  All headings should be capitalized.  After a
    heading, the first sentence should <EM>not</EM> be indented.
    
    <P>
    References to sections (as well as figures, tables, theorems and so
    on), should be capitalized, as in ``In Section 4, we show that...''.
    
    <P>
    
    <H3><A NAME="SECTION00024100000000000000">
    Appendices</A>
    </H3>
    
    <P>
    Appendices, if included, follow the acknowledgments.  Each appendix
    should be lettered, e.g., ``Appendix A''.  If online appendices are
    submitted, they should not be included in the final manuscript
    (see below), although they may be referred to in the manuscript.  They
    will be published online in separate files.  The online appendices
    should be numbered and referred to as Online Appendix 1, Online
    Appendix 2, etc.
    
    <P>
    
    <H3><A NAME="SECTION00024200000000000000">
    Acknowledgements</A>
    </H3>
    
    <P>
    The acknowledgments section, if included, appears after the main body
    of the text and is headed ``Acknowledgments.''  The section should not
    be numbered.  This section includes acknowledgments of help from
    associates and colleagues, financial support, and permission to
    publish.
    
    <P>
    
    <H2><A NAME="SECTION00025000000000000000">
    Figures and Tables</A>
    </H2>
    
    <P>
    Figures and tables should be inserted in proper places throughout the
    text.  Do not group them together at the beginning of a page, nor at
    the bottom of the paper.  Number figures sequentially, e.g.,
    Figure 1, and so on.
    
    <P>
    The figure or table number and the caption should appear under the
    illustration.  Leave a margin of one-quarter inch around the area
    covered by the figure and caption.  Captions, labels, and other text
    in illustrations must be at least nine-point type.
    
    <P>
    At present, some types of illustrations in your manuscript may cause
    problems for some printers/previewers. Although this is gradually
    becoming less of an issue, we encourage authors to use ``reliable''
    programs for producing figures. Before your paper can be accepted, we
    must verify that all your figures print successfully on our printers
    and may be viewed with Adobe Acrobat Reader or Ghostview.
    
    <P>
    
    <H2><A NAME="SECTION00026000000000000000">
    Headers and Footers</A>
    </H2>
    
    <P>
    The first page of your article should include the journal name, volume
    number, year and page numbers in the upper left corner, the
    submission date and publication date in the upper right corner, and
    the copyright notice in the lower left corner.  The editor will
    let you know the volume number, year, pages, submission date and publication
    date. 
    
    <P>
    On the even numbered pages, the header of the page should be the authors'
    names. On the odd pages, starting with page 3, the header should be
    the title of the paper (shortened if necessary, as in the sample).
    
    <P>
    
    <H3><A NAME="SECTION00026100000000000000">
    Page Numbering and Publication Date</A>
    </H3>
    
    <P>
    Leave the page number starting at one. The Production Editor will change the page numbers according to the actual order of publication, and will insert the proper page numbers in the heading of your article.
    <P>
    For submission dates, please do the following. If the paper was
    accepted with no revisions the first time just include the submission
    date (month and year) as the fourth argument to the \jmlrheading command. For example,
    for a paper submitted February 12, 2005, the fourth argument should be
    <P>
    {2/05}
    <P>
    If your paper was returned for revisions, please insert the original date of submission followed by the text "; Revised " and then the date the revision was submitted, like this (for a paper originally submitted Feb, 2005 and resubmitted in April of 2005):
    <P>
    
    {2/05; Revised 4/05}
    <P>
    You may leave the publication date (the fifth argument to
    \jmlrheading) blank and it will be filled in by the Production Editor.
    
    
    
    <P>
    
    <H3><A NAME="SECTION00026200000000000000">
    Footnotes</A>
    </H3> 
    
    <P>
    We encourage authors to use footnotes sparingly, especially since they
    may be difficult to read online.  Footnotes should be numbered
    sequentially and should appear at the bottom of the page, as shown
    below.<A NAME="tex2html3"
      HREF="#foot46"><SUP>1</SUP></A>
    <P>
    
    <H2><A NAME="SECTION00027000000000000000"></A>
    <A NAME="reference-section"></A><BR>
    References
    </H2>
    The reference section should be labeled ``References'' and should
    appear at the end of the paper in <TT>natbib</TT> format.  A sample list
    of references is given in Appendix A.  Poorly prepared, incomplete or
    sloppy references reflect badly on the quality of your scholarship.
    Please prepare complete and accurate citations.
    
    <P>
    Citations within the text should include the author's last name and
    year, for example (Cheeseman, 1992).  Append lower-case letters to the
    year in cases of ambiguity, as in (Cheeseman, 1993a).  Multiple
    authors should be treated as follows: (Cheeseman &amp; Englemore 1988) or
    (Englemore, Cheeseman &amp; Buchanan, 1992).  In the case of three or
    more authors, the citation can be shortened by referring only the
    first author, followed by ``<EM>et al.</EM>'', as in (Clancey et
    al., 1991).  Multiple citations should be separated by a semi-colon,
    as in (Cheeseman, 1993a; Buntine, 1992). If two works have the same
    author or authors, the appropriate format is as follows: (Drummond
    1990, 1991).
    
    <P>
    If the authors' names are mentioned in the text, the citation need
    only refer to the year, as in ``Cheeseman and Englemore (1988) showed
    that...''. 
    
    <P>
    In general, you shouldn't have parenthetical statements embedded in
    parenthetical statements. Therefore, citations within parenthetical
    statements should not be embedded in parentheses. Use commas as
    separators instead. For instance, rather than ``(as shown by Bresina
    (1992))'' you should write ``(as shown by Bresina, 1992)''. Similarly,
    ``(e.g., (Bresina, 1992))'' should be ``(e.g., Bresina, 1992).  Note
    that the <TT>natbib</TT> style file supports the inclusion of prefixes in
    citations.
    
    <P>
    
    <H1><A NAME="SECTION00030000000000000000"></A>
    <A NAME="template-section"></A><BR>
    Formatting Templates
    </H1>
    
    <P>
    To ready your work for publication, please typeset it using software
    such L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X that produces PostScript or PDF
    output (L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X is preferred.)  A L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X style file is available
    at <a href="http://www.jmlr.org/format/jmlr2e.sty"><TT>http://www.jmlr.org/format/jmlr2e.sty</TT></a> or from the editor. We
    hope to eventually have macros/samples for other document preparation
    systems as well. We recommend working from the L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X source of the
    sample article (at <a href="http://www.jmlr.org/format/sample.tex"><TT>http://www.jmlr.org/format/sample.tex</TT></a>), which
    has been annotated to simplify use of the macros in the style file. If you must use a document preparation system other
    than L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X, please discuss this with the editor prior
    to submitting your final document.  If you do not have the software
    necessary to produce acceptable PostScript or PDF files, the editor
    will recommend a professional service for formatting your
    article. (Authors will be responsible for paying for this service).
    
    <P>
    
    <H2><A NAME="SECTION00031000000000000000">
    Using <TT>jmlr2e.sty</TT> </A>
    </H2>
    
    <P>
    The L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X source for the sample paper, at <TT>http://www.jmlr.org/format/sample.tex</TT>, details the use of most of the
    macros in <TT>jmlr2e</TT>; we describe a few of the macros here for
    illustration.
    
    <P>
    The paper should begin with a specification of the document class and
    JMLR style file:
    <BR>
    <BR><code>\documentclass[twoside,11pt]{article}</code>
    <BR><code>\usepackage{jmlr2e}</code>
    <BR>
    
    <P>
    The following command can be used in the LaTex version of your
    paper to set the first page header:
    <BR>
    <BR><code>\jmlrheading{1}{2000}{1-48}{4/00}{10/00}{00-000}{author list}</code> <I># dates/pages from editor</I>
    
    <P>
    To set your title and authors for headings:
    <BR><code>\ShortHeadings{short title}{short authors}</code>
    
    <P>
    For example:
    <BR><code>\ShortHeadings{Minimizing Conflicts}{Minton et al.}</code>
    <BR>
    <P>
    To set your page numbers:
    <BR><code>\firstpageno{?}</code> <I>the pagenumber you are assigned to start with by the editor.</I>
    <BR>
    <P>
    Authors are specified with the ``author'' macro:
    <BR><code>\author{\name Author One \email author-one-email\\</code>
    <BR><code>       \addr Author One address line one\\</code>
    <BR><code>             Author One address line two\\</code>
    <BR><code>             Author One address line three...</code>
    <BR><code>       \AND</code>
    <BR><code>       \name Author Two \email author-two-email\\</code>
    <BR><code>       \addr Author Two address line one\\</code>
    <BR><code>             Author Two address line two\\</code>
    <BR><code>             Author Two address line three...}</code>
    <BR>
    <P>
    If multiple authors share an affiliation, it may be appended to the group by specifying:
    <BR><code>\author{\name Author One \email author-one-email\\</code>
    <BR><code>        \name Author Two \email author-two-email\\</code>
    <BR><code>        \addr Authors' address line one\\</code>
    <BR><code>              Authors' address line two\\</code>
    <BR><code>              Authors' address line three...}</code>
    
    <P>
    
    <H2><A NAME="SECTION00032000000000000000">
    Citations using <TT>natbib</TT> </A>
    </H2>
    The recommended citation style file, <TT>natbib</TT>, is included in <TT>jmlr2e.sty</TT>. It supports the citation styles described in
    Section&nbsp;<A HREF="format.html#reference-section">2.7</A> with macros such as <code>\citep{}</code>
    and <code>\citet{}</code>. The basic uses of <code>\citep{}</code>
    and <code>\citet{}</code> are as follows:
    
    <P>
    <TABLE CELLPADDING=3>
    <TR><TD ALIGN="LEFT"><code>\citet{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">Jones et al. (1990)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citet[chap.~2]{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">Jones et al. (1990, chap. 2)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citep{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">(Jones et al., 1990)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citep[chap.~2]{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">(Jones et al., 1990, chap. 2)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citep[see][]{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">(see Jones et al., 1990)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citep[see][chap.~2]{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">(see Jones et al., 1990, chap. 2)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citet*{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">Jones, Baker, and Williams (1990)</TD>
    </TR>
    <TR><TD ALIGN="LEFT"><code>\citep*{jon90}</code></TD>
    <TD ALIGN="LEFT">=></TD>
    <TD ALIGN="LEFT">(Jones, Baker, and Williams, 1990)</TD>
    </TR>
    </TABLE>
    
    <P>
    For details on making citations with natbib macros, see the natbib
    documentation <a href="format.html#Daly97">Daly97</a>, a copy of which is available at <a href="http://www.jmlr.org/format/natbib.pdf"><TT>http://www.jmlr.org/format/natbib.pdf</TT></a>.
    
    <P>
    
    <H1><A NAME="SECTION00040000000000000000"></A>
    <A NAME="errors-section"></A><BR>
    Avoiding Common Errors
    </H1>
    
    <P>
    As we do the final editing passes on JMLR papers, we find a fairly
    consistent set of problems repeated over and over.  Here's a list of
    them.  JMLR won't enforce conformity with these rules, but it would
    certainly please the editors if you followed them.
    
    <P>
    
    <H4><A NAME="SECTION00040010000000000000">
    Dashes</A>
    </H4>
    Dashes should be used--with care--to set off interjections in a
    sentence.  They should be long and there should not be spaces between
    them and the preceding and following words.  Thus, in LaTeX, the input
    should look like this:
    <PRE>
        Dashes should be used---with care---to set off ...
    </PRE>
    
    <P>
    
    <H4><A NAME="SECTION00040020000000000000">
    Lower case names</A>
    </H4>
    The names of fields, algorithms, methods, etc., should be in lower
    case: cognitive science, reinforcement learning, principal components
    analysis.  Exceptions are when they are in names of organizational
    entities, like Cognitive Science Department, or when they include
    proper names, such as Markov decision processes or Gaussian densities,
    or Bayes' rule.
    
    <P>
    
    <H4><A NAME="SECTION00040030000000000000">
    Latin abbrevs.</A>
    </H4>
    Scientists seem to like to use the Latin abbreviations <EM>i.e.</EM> and
    <EM>e.g.</EM>  First, I'd like to encourage you to try 
    to do without them.  If you can't, then use the English equivalents (``that
    is'' instead of <EM>i.e.</EM> and ``for example'' instead of <EM>e.g.</EM>)
    If you really love the Latin (then you're a Latin lover?) you
    should at least do it right.  There should be a period after each
    letter (because they're abbreviations), and there should be a comma
    after the expression.  If you're addicted to these things, I encourage
    you to define and use LaTeX macros like
    <PRE>
        \newcommand{\ie}{i.e.}
    </PRE>
    
    <P>
    
    <H4><A NAME="SECTION00040040000000000000">
    Equation numbers</A>
    </H4>
    Only number equations that are actually referred to later in the text.
    
    <P>
    
    <H4><A NAME="SECTION00040050000000000000">
    Citations</A>
    </H4>
    Citations are not nouns.  It is not correct to say ``Using the method
    of (Smith, 1999), we ...''  Instead, say ``Using the method of Smith
    (1999), we ...''  or ``Using the method of partial discombobulation
    (Smith, 1999), we ....''. See the section on references
    (Section&nbsp;<A HREF="format.html#reference-section">2.7</A>) for more details on correct and
    incorrect citation forms.
    
    <P>
    
    <H4><A NAME="SECTION00040060000000000000">
    Punctuate math</A>
    </H4>
    Sentences with mathematical statements in them are still sentences,
    subject to the usual rules of grammar and punctuation.  As
    <A
     HREF="format.html#Knuth89">Knuth et&nbsp;al.,(1989)</A> say,<A NAME="tex2html4"
      HREF="#foot123"><SUP>2</SUP></A> you should
    test this by reading out your paper with things like ``snort'' and
    ``grunt'' substituted in for the mathematics and listening to see
    whether it's grammatically correct.
    
    <P>
    Never put a footnote directly after a mathematical expression;  it is
    too easily confused with an exponent.
    
    <P>
    
    <H4><A NAME="SECTION00040070000000000000">
    Hyphenating compound nouns</A>
    </H4>
    When you have a long string of nouns together, they often need
    hyphenation to make the meaning clear (and to make your editor
    happy).  Here are some examples of correct expressions:
    
    <UL>
    <LI>reinforcement learning
    </LI>
    <LI>reinforcement-learning algorithm
    </LI>
    <LI>delayed-reinforcement learning (learning from delayed
    reinforcement)
    </LI>
    <LI>delayed reinforcement learning (reinforcement learning that is
    delayed) 
    </LI>
    </UL>
    What are the rules?  Here's a simple view:  by default, modifiers
    bind to the phrase to their right.  If you want to override that, then
    you need to use a hyphen.  Consider the string of words ``country
    chicken pump dispenser'' (seen in an actual catalog).
    A ``pump dispenser'' is either something that dispenses pumps or that
    dispenses by pumping.  A ``chicken pump dispenser'' is, perhaps, a
    pump dispenser in the shape of a chicken.  But a ``chicken-pump
    dispenser'' is something that dispenses chicken pumps.  The object in
    the catalog was a soap dispenser in the shape of a country chicken (as
    opposed to a city chicken, I guess) with a pump.  So, probably, it
    should have been a ``country-chicken pump dispenser'', since ``pump''
    modifies ``dispenser,'' ``country'' modifies ``chicken,'' and the
    phrase ``country chicken'' modifies ``pump dispenser.''  Whew.  Many
    people think it's bad form to use such long strings of nouns anyway.
    
    <P>
    
    <H4><A NAME="SECTION00040080000000000000">
    Don't use ``utilize.''</A>
    </H4>
    
    <P>
    
    <H4><A NAME="SECTION00040090000000000000">
    Don't start a section with a subsection</A>
    </H4> 
    A section heading should never immediately follow another section heading without intervening text. So don't do this:
    
    <P>
    
    <code>     5. Experimental Results</code>
    <BR>
    <BR><code>     5.1 Results on a Simulated Domain</code>
    <BR>
    <P>
    Instead, do this:
    
    <P>
    
    <code>     5. Experimental Results</code>
    <BR>
    <BR><code>     In this section, we first describe blah, blah, blah...</code>
    <BR>
    <BR><code>     5.1 Results on a Simulated Domain</code>
    <BR>
    <P>
    
    <H1><A NAME="SECTION00050000000000000000">
    Appendix A: Natbib Reference Examples</A>
    </H1>
    
    <P>
    The following formatting examples are intended to be illustrative, not
    exhaustive. If you are uncertain about the proper format for a
    reference, please contact the JMLR editors.
    
    <P>
    <DL>
    <DT><STRONG>Book</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Richard Bellman.
    <BR><EM>Dynamic Programming</EM>.
    <BR>Princeton University Press, Princeton, New Jersey, 1957.
    
    <P>
    </DD>
    <DT><STRONG>Edited Book</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Robert&nbsp;R. Bush and William&nbsp;K. Estes, editors.
    <BR><EM>Studies in Mathematical Learning Theory</EM>.
    <BR>Stanford University Press, Stanford, California, 1959.
    
    <P>
    </DD>
    <DT><STRONG>Journal Article</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Dana Angluin and Philip Laird.
    <BR>Learning from noisy examples.
    <BR><EM>Machine Learning</EM>, 2(4):343-370, 1988.
    
    <P>
    </DD>
    <DT><STRONG>Proceedings Paper</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Charles&nbsp;W. Anderson.
    <BR>Strategy learning with multilayer connectionist representations.
    <BR>In <EM>Proceedings of the Fourth International Workshop on Machine
      Learning</EM>, pages 103-114, Ann Arbor, Michigan, 1987.
    
    <P>
    </DD>
    <DT><STRONG>Technical Report</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Andrew&nbsp;G. Barto.
    <BR>Connectionist learning for control.
    <BR>Technical Report 89-89, Department of Computer and Information
      Science, University of Massachusetts, Amherst, Massachusetts, 1989.
    
    <P>
    </DD>
    <DT><STRONG>Dissertation or Thesis</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Michael&nbsp;L. Littman.
    <BR><EM>Algorithms for Sequential Decision Making</EM>.
    <BR>PhD thesis, Brown University, Providence, Rhode Island, 1996.
    
    <P>
    </DD>
    <DT><STRONG>Forthcoming Publication</STRONG></DT>
    <DD><code> </code>
    <BR><code> </code> 
    Stephen&nbsp;H. Muggleton.
    <BR>Statistical aspects of logic-based machine learning.
    <BR><EM>ACM Transactions on Computational Logic</EM>, forthcoming.
    </DD>
    </DL>
    
    <P>
    
    <H2><A NAME="SECTION00060000000000000000">
    Bibliography</A>
    </H2>
    
    <P></P><DT><A NAME="Daly97">Patrick&nbsp;W. Daly.</A>
    Natural sciences citations and references.
    Available electronically at <a href="ftp://ftp.freesoftware.com/pub/tex/ctan/macros/contrib/supported/natbib"><TT>ftp://ftp.freesoftware.com/pub/tex/ctan/macros/contrib/supported/natbib</TT></a>,
      1997.
    
    <P></P><DT><A NAME="Knuth89">Donald&nbsp;E. Knuth, Tracy&nbsp;L. Larrabee, and Paul&nbsp;M. Roberts.</A>
    <EM>Mathematical Writing</EM>.
    Mathematical Association of America, Washington, D.C., 1989.
    ISBN 0-88385-063-X.
    
    <P></P><DT><A NAME="VanLeunen92">Mary Claire&nbsp;Van Leunen.</A>
    <EM>A Handbook for Scholars</EM>.
    Oxford University Press, 1992.
    
    <P></P><DT><A NAME="Minton99">Steven Minton, Martha&nbsp;Del Alto, and Helen Stewart.</A>
    Instructions for formatting JAIR articles.
    Available electronically via <a href="http://www.jair.org/submission-info.html"><TT>http://www.jair.org/submission-info.html</TT></a>, 1999.
    </DL>
    
    <P>
    
    <HR><H4>Footnotes</H4>
    
    <P>
    <A NAME="foot46" HREF="format.html#tex2html3"><SUP>1</SUP></A>A footnote
    should appear like this. Please ensure that
    your footnotes are complete, fully punctuated sentences.
    </P>
    
    <P>
    <A NAME="foot123" HREF="format.html#tex2html4"><DT><SUP>2</SUP></A>I recommend this book highly to anyone who
    likes to think about technical writing.  While we're on the subject, I
    also highly recommend the (sadly, out of print) <a href="format.html#VanLeunen92"><EM>Handbook for
    Scholars</EM></a> by Mary-Claire van Leunen (1992).
    </P>
    
      <HR>
    <ADDRESS>
    David Cohn
    2001-03-09
    </ADDRESS>
    </div> 

{% endblock %}