[submodule "v19"]
	path = v19
	url = https://github.com/JmlrOrg/v19.git
[submodule "v18"]
	path = v18
	url = https://github.com/JmlrOrg/v18.git
[submodule "v20"]
	path = v20
	url = https://github.com/JmlrOrg/v20.git
[submodule "v17"]
	path = v17
	url = https://github.com/JmlrOrg/v17.git
[submodule "v16"]
	path = v16
	url = https://github.com/JmlrOrg/v16.git
	branch = master
[submodule "v15"]
	path = v15
	url = https://github.com/JmlrOrg/v15.git
[submodule "v21"]
	path = v21
	url = https://github.com/JmlrOrg/v21
[submodule "v14"]
	path = v14
	url = https://github.com/JmlrOrg/v14.git
[submodule "v13"]
	path = v13
	url = https://github.com/JmlrOrg/v13.git
[submodule "v12"]
	path = v12
	url = https://github.com/JmlrOrg/v12.git
[submodule "v11"]
	path = v11
	url = https://github.com/JmlrOrg/v11.git
[submodule "v10"]
	path = v10
	url = https://github.com/JmlrOrg/v10.git
[submodule "v9"]
	path = v9
	url = https://github.com/JmlrOrg/v9.git
[submodule "v8"]
	path = v8
	url = https://github.com/JmlrOrg/v8.git
[submodule "v7"]
	path = v7
	url = https://github.com/JmlrOrg/v7.git
[submodule "v6"]
	path = v6
	url = https://github.com/JmlrOrg/v6.git
