
{% extends "base.html" %}

{% block extraheader %}
<style>
.framed {
    border: 1px black dashed;
    padding: 20px;
}

h2 {
    margin-top: 2em;
}

#TOC{
    padding: 20px;
    background-color: #F5F5F5;
    width: 60%;
    margin: auto;
}
</style>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 1em">Retrospectives from 20 Years of JMLR</h1>

    <p>
        <blockquote><i><a href="https://fa.bianp.net/">Fabian Pedregosa</a>, <a href="http://www.teganmaharaj.com/">Tegan Maharaj</a>, <a href="https://www.proditus.com/">Alp Kucukelbir</a>, <a href="https://rajarshd.github.io/">Rajarshi Das</a>, <a href="https://valentina.borghesani.org/">Valentina Borghesani</a>, <a href="https://francisbach.com/">Francis Bach</a>, <a href="http://www.cs.columbia.edu/~blei/">David Blei</a>, <a href="https://is.mpg.de/~bs">Bernhard Sch&ouml;lkopf</a></i>
                <br><br>
                <i>21 February 2022</i>
                <br>
        </blockquote> 
    </p>

    <p>In 2000, led by editor-in-chief Leslie Kaelbling, JMLR was founded as a fully free and
            open-access platform for publishing high-quality machine learning research. Twenty-one years later, JMLR
            publishes more than 250 papers per year and is one of the premiere publishing venues in the field of
            artificial intelligence. How did a community-driven journal, without any financial or managerial support
            from traditional publishing companies, become a leading journal in the field? Celebrating more
            than 20 years of history, we take a look back at the story of
        JMLR and the lessons that can be learnt from it.
    </p>
    <br>


    <div id="TOC">
        <p class="outline"><span style="font-weight: bold">Outline:<br><br>
            <span style="margin-left: 20px"><a href="#how"><b>1. How JMLR works</b></a></span> <br><br>
            <span style="margin-left: 20px"><a href="#papers"><b>2. Papers, decisions and publication time</b></a></span> <br><br>
            <span style="margin-left: 20px"><a href="#human"><b>3. The Human Cost of Sustaining a Growing Field</b></a></span> <br><br>
            <span style="margin-left: 20px"><a href="#mirroring"><b>4. Mirroring trends and biases of the
                field</b></a></span> <br><br>            
            <span style="margin-left: 20px"><a href="#outlook"><b>5. Outlook</b></a></span> <br><br>        
           <span style="margin-left: 20px"><a href="#credits"><b>6. Credits</b></a></span> <br>
        </p>
        </div>


    <h2 id="how">1. How JMLR works</h2>
    <p><b>In summary</b>.
        JMLR runs almost entirely on volunteer labor.<sup><a
                href="#ftnt1" id="ftnt_ref1">[1]</a></sup> The <a
                href="https://jmlr.org/editorial-board.html">JMLR
                team</a> consists of three Editors-in-Chief (EiCs), two Managing Editors, an Editorial
            Assistant, a Production Editor, and a Webmaster, along with the
        Advisory Board and a large group of currently 133 of Action Editors (AEs). The AEs are senior researchers in the field (typically tenured or equivalent), recruited by invitation, and
            it's by relying on their expertise that JMLR can have such a small and agile management team. Expert AEs
            decentralize much of the editorial work that is typically centralized in EiCs in other journals &ndash; EiCs
            assign each paper to an AE, and from there on the AE takes responsibility for finding reviewers and making
            the final decision.</p>
    <p><b>In detail</b>. Authors upload submission to JMLR's own
        <a href="https://www.jmlr.org/manudb/center/">submission system</a>, hosted at MIT (see <a href="#human">section 3</a> for a precise cost estimate).
        This system was initially written by <a
                href="https://www.cs.ucr.edu/~cshelton/">Christian Shelton</a>in 2003. It has served us remarkably well, as the system continues to be in use today with minor improvements by subsequent managing editors. It
            is written in Perl and Python, and uses a PostgreSQL database.</p>
    <p>Each manuscript is scanned by an Editor-in-Chief. If the Editor-in-Chief finds the paper out of
            scope, they will desk-reject the paper, otherwise they will assign the
            paper to an action editor (AE) who has expertise in the area of the paper. The AE decides whether to send
            the paper for a full review.</p>
    <p>If the paper goes out for review, the AE solicits 2-3 expert reviewers to write
            detailed technical reviews of the paper. After review, the AE can then accept the paper as is, reject the
            paper, ask for minor revisions, or propose &quot;reject with encouragement to resubmit&quot;, i.e. ask for
            major revisions.</p>
    <p>If the paper is accepted, the production editor prepares the camera-ready version that is then
            uploaded to <span class="c1"><a
                href="https://www.google.com/url?q=https://jmlr.org/papers/&amp;sa=D&amp;source=editors&amp;ust=1644511663865686&amp;usg=AOvVaw3iid7Gz4Jlpu5b_6VNzAGH">the
                website</a>. Papers are accepted on a rolling basis and uploaded as they are
            processed, grouped into one Volume per year. The managing editors support all users of the submission system
            (authors, reviewers, and the editorial board) throughout the reviewing process; the webmaster takes care of
            uploading the final documents and is responsible for the maintenance of the public webpage.</p>
    <p>Besides the main publication track, JMLR also has a track for open source software contributions called <a href="https://www.jmlr.org/mloss/mloss-info.html">Machine Learning Open Source Software (MLOSS)</a>.
            These papers have dedicated action editors and a page limit of 4 pages, while main track JMLR papers don&#39;t
            have page limit. Reviewers of MLOSS papers are also asked to follow a different set of reviewing criteria. JMLR has also hosted special issues for
            topics of timely relevance. In recent years, JMLR has also become an umbrella for different publications
            that we won&#39;t cover in this blog post, such as the <a
                href="http://proceedings.mlr.press">Proceedings
                of Machine Learning Research</a> (PMLR) and the recently-announced <a
                href="https://www.jmlr.org/tmlr/">Transactions
                on Machine Learning Research</a> (TMLR), which will start accepting
            submissions in March 2022.</p>
    
    <h2 id="papers">2. Papers, decisions and publication time</h2>

    <p>The number of papers submitted and accepted has been steadily increasing throughout the years:
            from 10 papers published in 2002 to 290 papers published in 2021
    </p>
    <p>Below we show the number of unique submissions (that is, excluding
            resubmissions) since 2003.<sup><a href="#ftnt2" id="ftnt_ref2">[2]</a></sup>Color
            indicates the final decision of the paper:</p>
    <ul>
        <li><b>desk reject</b>, for papers
                rejected by the action editor or editor-in-chief without sending the paper for review.</li>
        <li><b>reject</b>, for papers whose final
                decision after review is either reject or reject with encouragement to resubmit (but whose authors
                decided to not resubmit), and </li>
        <li><b>accept</b>, for papers that will be
                published on the website.</li>
    </ul>

    <p>
        <img style="width: 90%; max-width: 1000px; display: block; margin: auto" alt="For each year, we show the number of submissions color coded according to the associated editorial decision" src="/img/retrospectives_20years/submitted_papers.svg" title="For each year, we show the number of submissions color coded according to the associated editorial decision"><br>
        <i>Figure 1</i>. For each year, we show the number of submissions color coded according to the associated editorial decision
    </p>

    <p>
            </p>
    <p class="c0"></p>
    <p>This plot shows the dramatic growth experienced in recent years. While it took 8
            years for the number of submissions to double in size from 2004 to 2012, it only took 2 years from 2018 to
            2020 for these to double again.</p>
    <p class="c0"></p>
    <p><b>Acceptance rate</b>. JMLR&#39;s only
            criteria for acceptance is quality, i.e., it does not enforce an annual acceptance rate. The action editor
            is responsible for deciding whether the paper is up to the standard of the
            journal. The following figure shows the yearly evolution of the different editorial decisions (desk reject,
            reject, accept).</p>
    <p><img
        style="width: 90%; max-width: 1000px; display: block; margin: auto"
                alt="Figure 2:  For each year, we show the percentage of submissions that received an editorial decision of desk reject vs. reject vs. accept" src="/img/retrospectives_20years/accept_rate.svg"
                > <br>
                <i>Figure 2:</i> For each year, we show the percentage of submissions that received an editorial decision of desk reject vs. reject vs. accept
        </p>
    <p>As we can see, the percentage of accepted papers has
            been steadily declining since the 33% acceptance rate of 2007 to the current 17% acceptance. The trend can
            be explained by a constant strive for quality in face of an increasing number of submissions.</p>
    <p><b>Time to receive the
            first round of reviews</b>.&nbsp;Papers that are sent to reviewers can
            take a variable amount of time to come back to authors. Below we plot the median, 25-75 and 10-90 percentile
            for the number of days it took for authors to receive the first round of reviews (hence desk rejected papers
            are excluded). </p>
    <p><img
        style="width: 90%; max-width: 1000px; display: block; margin: auto" alt="Days from submission to decision for papers that are sent to reviewers. The dark line shows median, while lighter intervals represent 25-75 and 10-10 percentile respectively." src="/img/retrospectives_20years/time_to_decision.svg"
                title=""><br>
        <i>Figure 3</i>. Days from submission to decision for papers that are sent to reviewers. The dark line shows median, while lighter intervals represent 25-75 and 10-10 percentile respectively.
        </p>
    <p>This median delay has unfortunately been steadily increasing throughout the years, reaching 187
            days in 2021. It&#39;s a priority for us to reduce the delay times without sacrificing the quality of the
            review process. The section below explores&nbsp;the cost of such an
            endeavor.</p>



    <h2 id="human">3. The Human Cost of Sustaining a Growing Field</h2>
    <p>The storage and bandwidth needs of the journal, although increasing throughout the years, remain
            negligible. &nbsp;The full jmlr.org website, including non-public under-review papers, backups, and a
            PostgreSQL database, occupies 49GB. Currently, MIT provides this storage for free, but it would
            have a cost&nbsp;of&nbsp;around $100 per month using a
            standard Cloud Platform.</p>
    <p>The most precious resource is the human workforce.&nbsp;To ensure that
            published papers are technically sound and of the highest quality, JMLR relies on a group of experts all
            volunteers. In 2021, JMLR counted 1938 active reviewers (93% of the workforce),<sup><a href="#ftnt3"
                id="ftnt_ref3">[3]</a></sup>&nbsp;133 action editors (6%), and 8 members of the editorial board
            (0.3%), which includes the Editors-in-Chief, and technical time-consuming roles such as webmaster,
            production editor and managing editor.</p>
    <p>To handle the increasing workload, the number of action editors and reviewers has been steadily
            increasing through the years. The figure below shows the number of Submissions, Action editors and
            Reviewers.</p>
    <p><img alt="Number of action editors and reviewers throughout the years.
        " src="/img/retrospectives_20years/editors_reviewers.svg"
                style="width: 90%; max-width: 1000px; display: block; margin: auto"
                title=""><br>
        <i>Figure 4</i>: Number of action editors and reviewers throughout the years.
        </p>
    <p>These figures&nbsp;highlight&nbsp;the increased labor
        that the action editors have taken in recent years: in 2010 the average number of submissions per
            action editor was 4.5, while in 2020 it was more than double, 11.7.
        </p>

    <h2 id="mirroring">4. Mirroring trends and biases of the field</h2>
    <p>According to recent estimates,<sup><a href="#ftnt4"
                id="ftnt_ref4">[4]</a></sup>&nbsp;only 12% of leading&nbsp;machine
            learning researchers are female&nbsp;and only 22% of jobs in artificial
            intelligence are held by them, with even fewer holding senior roles.</p>
    <p>We sought&nbsp;to understand the representation of female scientists
            in the journal. Unfortunately, JMLR does not track gender
            information, so we appealed to the indirect means of inferring gender from first
            names, which only provides a rough estimate. We inferred gender for both action editors and corresponding
            authors. &nbsp;Below we plot the gender proportion of female AEs and authors. We only plot this data since
            2012, which is when the number of AEs surpassed 100 members:</p>
    <p class="c5 c20"></p>
    <p class="c5 c20"></p>
    <p><img
                alt="Percentage of female action editors and corresponding authors. 
                " src="/img/retrospectives_20years/gender_ae.svg"
                style="width: 90%; max-width: 1000px; display: block; margin: auto"
                title=""> <br>
        <i>Figure 5:</i> Percentage of female action editors and corresponding authors. 
        </p>
    <p class="c0"><span class="c2"></p>
    <p class="c14"></p>
    <p>The years 2013-2016 are characterized by an exceptionally&nbsp;low
            number of female AEs, below 10%. This number has been increasingly steady throughout the last few years,
            reaching 17% in 2021. Although this is an improvement on previous years, we&#39;re far from the gender
            balance that we strive to achieve. This is an aspect we&#39;re committed to
            improving.</p>


    <h2 id="outlook">5. Outlook</h2>
    <p>When it was founded in 2002, the first editors of JMLR sought to create an
            independent and open-access journal, with the most minimal operating costs. &nbsp;This was a radical and
            visionary experiment, and it was a success. &nbsp;Today, JMLR is a top journal in AI and ML, while remaining
            free, open, and community-driven.</p>
    <p class="c0"></p>
    <p>Since 2002, the fields of AI and ML have grown and thrived, and JMLR
            has grown along with them. Of course, the increase in submissions means increased demands on all the
            volunteers&rsquo; time and energy. &nbsp;JMLR is indebted to the immense<span
            class="c3">&nbsp;efforts of the leadership team, the action editors, and the many reviewers. &nbsp;Thank you
            for making JMLR such a great journal and keeping JMLR free.</p>
    <p class="c14"></p>

    <h2 id="credits">6. Credits</h2>

    <p><b>Citing.</b> Please consider citing this article as</p>
    <p><i>Fabian Pedregosa, Tegan Maharaj, Alp Kucukelbir, Rajarshi Das, Valentina Borghesani,
            &nbsp;Francis Bach, David Blei, Bernhard Sch&ouml;lkopf, <span class="c8">&quot;Retrospectives from
            20 Years of JMLR&quot;, <a href="https://www.jmlr.org/blog/20_years.html">https://www.jmlr.org/news/20_years.html</a></i></p>
    
        <p>
                BibTex entry:
<pre>
<code>
@misc{pedregosa2022retrospectives,
        title={Retrospectives from 20 Years of JMLR},
        author={Pedregosa, Fabian and Maharaj, Tegan and Kucukelbir, Alp and Das, Rajarshi and
                Borghesani, Valentina and Bach, Francis and Blei,David and Sch{\"o}lkopf, Bernhard},
        url={http://jmlr.org/news/retrospectives_20years.html},
        year={2022}
        }
</code>
</pre>
        </p>
<p><b>Acknowledgements</b>. We would like to thank Leslie Pack
            Kaelbling, Lawrence Saul and Barbara Engelhardt for providing feedback on this blog post.</p>
<br>
    <hr class="c16">
    <div>
        <p><a href="#ftnt_ref1" id="ftnt1">[1]</a>The only paid &nbsp;job at JMLR is
                that of the part-time editorial assistant, who provides email support to users of the journal and
                ensures the manuscripts flow smoothly through the submission and review system.</p>
    </div>
    <div>
        <p><a href="#ftnt_ref2" id="ftnt2">[2]</a>Although the journal was
                established in the year 2000, the current submission system was created in 2003 thus prior statistics
                are not available. </p>
    </div>
    <div>
        <p><a href="#ftnt_ref3" id="ftnt3">[3]</a>We count active reviewers as those
                that have performed at least one review during the year 2021.</p>
    </div>
    <div>
        <p><a href="#ftnt_ref4" id="ftnt4">[4]</a><a href="https://www.forbes.com/sites/falonfatemi/2020/02/17/bridging-the-gender-gap-in-ai/">Bridging The Gender Gap In AI</a>, Forbes magazine.</p> 
    </div>
    <br>
    <hr>
    <br>

    <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    
    var disqus_config = function () {
    this.page.url = 'https://www.jmlr.org/news/2022/retrospectives.html';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'retrospectives'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://jmlr-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endblock %}
