<html>
<head>
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

<!--#include virtual="/css-scroll.txt"-->

<title> Journal of Machine Learning Research Homepage</title>

<script language="JavaScript"> 
    function GoAddress(user,machine) { 
        document.location = 'mailto:' + user + '@' + machine;
    } 
</script>
</head>
<body>

<!--#include virtual="/nav-bar.txt"-->

<div id="content">
<table width="100%" cellspacing="0" cellpadding="0"> <tr> <td
valign="top" align="left"> 

<h1><font face="verdana,helvetica,sans-serif" color="#303060">
Journal of Machine Learning Research</font></h1>

The Journal of Machine Learning Research (JMLR) provides an
international forum for the electronic and paper publication of
high-quality scholarly articles in all areas of machine learning.  
All published papers are freely available online.


<p>
JMLR has a commitment to rigorous yet rapid reviewing. Final versions
are <a href="papers"> published electronically</a> (ISSN 1533-7928)
immediately upon receipt.  Until the end of 2004, paper volumes (ISSN
1532-4435) were published 8 times annually and sold to libraries and
individuals by the MIT Press.
                                                                                      
Paper volumes (ISSN 1532-4435) are now published and sold by 
<a href="http://www.mtome.com/">Microtome Publishing</a>.  <p>
                                                                                      
<h2>News</h2>
<ul>
    <li><a href="/news-archive/20180416-changes.html">Changes</a> in JMLR leadership team.</li>
    <li><a href="papers/topic/2016-Learning-from-Electronic-Health-Data.html">Special topic on Learning from Electronic Health Data</a> (Dec 2016)</li>
    <li><a href="papers/special/chervonenkis15.html">Special issue in Memory of Alexey Chervonenkis</a> (Sep 2015).</li>
    <li><a href=papers/v17>Volume 17</a> completed; <a href=papers/v18>Volume 18</a> began. </li>
</ul>
</td> 
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td valign="top" align="center"> 
<a href="http://www.mtome.com/Publications/JMLR/jmlr.html">
<img src="images/jmlr-v5.png" width="140" border="0"></a> 
<p> <a href="http://www.arl.org/sparc">
<img src="images/Sparc7.gif" border="0" width=100></a> 

</td> </tr> </table> 

<p> 

<table width="100%"> <tr>
<td align="left"><font size="-1"><i><a
href="javascript:GoAddress('webmaster','jmlr.org');">webmaster<img
src=images/atr.gif border=0>jmlr.org</a></i></font></td> <td
align="right"><font size="-1">Copyright &copy <a target="_top"
href="http://www.jmlr.org">JMLR</a> 2000.  All rights
reserved.</font></td> </tr> </table>
               
</div>

</body>
</html>
