{% extends "base.html" %}

{% block extraheader %}
 <!-- MathJax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}


{% block content %}
<h1>JMLR Volume {{vol}}</h1>


{%for paper in info_list %}
<p>
<dl>
<dt>{{paper.title}}</dt>
<dd><b><i>{{paper.authors_string}}</i></b>; {{paper.vol}}({{paper.issue}}):{{paper.pages[0]}}&minus;{{paper.pages[1]}}, {{paper.year}}.
<br>[<a href='/papers/v{{paper.volume}}/{{paper.id}}.html'>abs</a>][<a target=_blank href='/papers/volume{{paper.volume}}/{{paper.id}}/{{paper.id}}.pdf'>pdf</a>][<a href="/papers/v{{paper.volume}}/{{paper.id}}.bib">bib</a>]</dl>
</p>
{% endfor %}

{% endblock %}
