{% extends "base.html" %}

{% block content %}
<h1>JMLR Papers</h1>

<p>Select a volume number to see its table of contents with links to the papers.</p>
<p>
    <a href="v24"><font class="volume">Volume 24</font></a>
    (January 2023 - Present)
    </p>
<p>

<p>
    <a href="v23"><font class="volume">Volume 23</font></a>
    (January 2022 - December 2022)
    </p>
<p>

<p>
    <a href="v22"><font class="volume">Volume 22</font></a>
    (January 2021 - December 2021)
    </p>
<p>
<p>
    <a href="v21"><font class="volume">Volume 21</font></a>
    (January 2020 - December 2020)
    </p>
<p>
<p>
    <a href="v20"><font class="volume">Volume 20</font></a>
    (January 2019 - December 2019)
    </p>
<p>

<a href="v19"><font class="volume">Volume 19</font></a>
(August 2018 - December 2018)
</p>

<p>
<a href="v18"><font class="volume">Volume 18</font></a>
(February 2017 - August 2018)
</p>

<p>
<a href="v17"><font class="volume">Volume 17</font></a>
(January 2016 - January 2017)
</p>

<p>
<a href="v16"><font class="volume">Volume 16</font></a>
(January 2015 - December 2015)
</p>

<p>
<a href="v15"><font class="volume">Volume 15</font></a>
(January 2014 - December 2014)
</p>

<p>
<a href="v14"><font class="volume">Volume 14</font></a>
(January 2013 - December 2013)
</p>

<p>
<a href="v13"><font class="volume">Volume 13</font></a>
(January 2012 - December 2012)
</p>

<p>
<a href="v12"><font class="volume">Volume 12</font></a>
(January 2011 - December 2011)
</p>

<p>
<a href="v11"><font class="volume">Volume 11</font></a>
(January 2010 - December 2010)
</p>

<p>
<a href="v10"><font class="volume">Volume 10</font></a>
(January 2009 - December 2009)
</p>

<p>
<a href="v9"><font class="volume">Volume 9</font></a>
(January 2008 - December 2008)
</p>

<p>
<a href="v8"><font class="volume">Volume 8</font></a>
(January 2007 - December 2007)
</p>

<p>
<a href="v7"><font class="volume">Volume 7</font></a>
(January 2006 - December 2006)
</p>

<p>
<a href="v6"><font class="volume">Volume 6</font></a>
(January 2005 - December 2005)
</p>

<p>
<a href="v5"><font class="volume">Volume 5</font></a>
(December 2003 - December 2004)
</p>

<p>
<a href="v4"><font class="volume">Volume 4</font></a>
(Apr 2003 - December 2003)
</p>

<p>
<a href="v3"><font class="volume">Volume 3</font></a>
(Jul 2002 - Mar 2003)
</p>

<p>
<a href="v2"><font class="volume">Volume 2</font></a>
(Oct 2001 - Mar 2002)
</p>

<p>
<a href="v1"><font class="volume">Volume 1</font></a>
(Oct 2000 - Sep 2001)
</p>

<h2>Special Topics</h2>
<p>
<a href="/papers/topic/bayesian_optimization.html"><font class="volume">Bayesian Optimization</font></a>
</p>
<p>
<a href="/papers/topic/2016-Learning-from-Electronic-Health-Data.html"><font class="volume">Learning from Electronic Health Data</font></a> (December 2016)
</p>


<p>
<a href="/papers/topic/gesture_recognition.html"><font class="volume">Gesture Recognition</font class="volume"></a> (May 2012 - present)
</p>

<p>
<a href="/papers/topic/large_scale_learning.html"><font class="volume">Large Scale Learning</font class="volume"></a> (Jul 2009 - present)
</p>

<p>
<a href="/papers/topic/graphs_relations.html"><font class="volume">Mining and Learning with Graphs and Relations</font class="volume"></a> (February 2009 - present)
</p>

<p>
<a href="/papers/topic/language.html"><font class="volume">Grammar Induction, Representation of Language and Language Learning</font class="volume"></a> (Nov 2010 - Apr 2011)
</p>

<p>
<a href="/papers/topic/causality.html"><font class="volume">Causality</font class="volume"></a> (Sep 2007 - May 2010)
</p>

<p>
<a href="/papers/topic/model_selection.html"><font class="volume">Model Selection</font class="volume"></a> (Apr 2007 - Jul 2010)
</p>

<p>
<a href="/papers/topic/COLT2005.html"><font class="volume">Conference on Learning Theory 2005</font class="volume"></a> (February 2007 - Jul 2007)
</p>

<p>
<a href="/papers/topic/ml_sec.html"><font class="volume">Machine Learning for Computer Security</font class="volume"></a> (December 2006)
</p>

<p>
<a href="/papers/topic/ml_opt.html"><font class="volume">Machine Learning and Large Scale Optimization</font class="volume"></a> (Jul 2006 - Oct 2006)
</p>

<p>
<a href="/papers/topic/inductive_programming.html"><font class="volume">Approaches and Applications of Inductive Programming</font class="volume"></a> (February 2006 - Mar 2006)
</p>

<p>
<a href="/papers/topic/learning_theory.html"><font class="volume">Learning Theory</font
class="volume"></a> (Jun 2004 - Aug 2004)
</p>

<h2>Special Issues</h2>
<p>
<a href="special/chervonenkis15.html"><font class="volume">In Memory of Alexey Chervonenkis</font></a> (Sep 2015)
</p>
<p>
<a href="special/ica03.html"><font class="volume">Independent Components Analysis</font
class="volume"></a> (December 2003)
</p>
<p>
<a href="special/learning_theory03.html"><font class="volume">Learning Theory</font
class="volume"></a> (Oct 2003)
</p>
<p>
<a href="special/ilp03.html"><font class="volume">Inductive Logic Programming</font
class="volume"></a> (Aug 2003)
</p>
<p>
<a href="special/kdfusion03.html"><font class="volume">Fusion of Domain Knowledge with Data for Decision Support</font
class="volume"></a> (Jul 2003)
</p>
<p>
<a href="special/feature03.html"><font class="volume">Variable and Feature Selection</font
class="volume"></a> (Mar 2003)
</p>
<p>
<a href="special/text_images03.html"><font class="volume">Machine Learning Methods for Text and Images</font
class="volume"></a> (February 2003)
</p><p>
<a href="special/icml01.html"><font class="volume">Eighteenth International Conference on Machine Learning (ICML2001)</font
class="volume"></a> (December 2002)
</p>
<p>
<a href="special/colt02.html"><font class="volume">Computational Learning Theory</font
class="volume"></a> (Nov 2002)
</p>
<p>
<a href="special/shallow_parsing02.html"><font class="volume">Shallow Parsing</font
class="volume"></a> (Mar 2002)
</p>
<p>
<a href="special/kernel01.html"><font class="volume">Kernel Methods</font
class="volume"></a>
(December 2001)
</p>
{% endblock %}
