{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block extraheader %}
 <!-- MathJax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- Google Scholar Meta -->
<meta name="citation_title" content="{{title_html}}">
{% for author in authors_html -%}
<meta name="citation_author" content="{{author}}">
{% endfor -%}
<meta name="citation_journal_title" content="Journal of Machine Learning Research">
<meta name="citation_volume" content="{{volume}}">
<meta name="citation_issue" content="{{issue}}">
<meta name="citation_firstpage" content="{{pages[0]}}">
<meta name="citation_lastpage" content="{{pages[1]}}">
<meta name="citation_pdf_url" content="http://jmlr.org/papers/volume{{volume}}/{{id}}/{{id}}.pdf">
<meta name="citation_publication_date" content="{{year}}">
<meta name="citation_public_url" content="http://jmlr.org/papers/v{{volume}}/{{id}}.html">
<meta name="citation_abstract_html_url" content="http://jmlr.org/papers/v{{volume}}/{{id}}.html">
<meta name="citation_issn" content="1533-7928">

{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"><a href="http://jmlr.org/papers/volume{{volume}}/{{id}}/{{id}}.pdf" style="text-decoration: none; color: inherit">{{title_html}}</a></h1>
    <p class="lead">{{authors_string}}.</p>
    <p style="font-weight: 300">Year: {{year}}, Volume: {{volume}}, Issue: {{issue}}, Pages: {{pages[0]}}&minus;{{pages[1]}}</p>
    <hr class="my-4">

    <h4>Abstract</h4>
    <p class="abstract">{% autoescape false %}{{abstract}}{% endautoescape %}</p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://jmlr.org/papers/volume{{volume}}/{{id}}/{{id}}.pdf" role="button">PDF</a>
        <a class="btn btn-secondary btn-lg" href="http://jmlr.org/papers/v{{volume}}/{{id}}.bib" role="button">BibTeX</a>
    </p>

</div>
<!-- <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://jmlr.org/papers/volume{{volume}}/{{id}}/{{id}}.pdf" allowfullscreen></iframe>
    </div> -->



<!-- <h2> {{title_html}} </h2>

<p><b><i>{{authors_string}}</i></b></p> -->

<!-- <h3>Abstract</h3>
{% autoescape false %}
{{abstract}}
{% endautoescape %}
<font color="gray"><p>[abs]</font>[<a id="pdf" target="_blank" href="http://jmlr.org/papers/volume{{volume}}/{{id}}/{{id}}.pdf">pdf</a>][<a id="bib" href="http://jmlr.org/papers/v{{volume}}/{{id}}.bib">bib</a>]
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% for link in extra_links %}
   [<a href="{{link[1]}}">{{link[0]}}</a>]
  {% endfor %} -->

<p style="text-align: right">
  <a class="btn btn-light btn-lg" href="https://github.com/JmlrOrg/v{{volume}}/blob/master/{{id}}/info.json" role="button" style="color: grey">Edit</a></p>
  {% endblock %}


{% block sidebar %}
{% endblock %}
