{% extends "base.html" %}

{% block content %}
<h1>Machine Learning Open Source Software</h1>

To support the open source software movement, JMLR MLOSS publishes contributions related to implementations of non-trivial machine learning algorithms, toolboxes or even languages for scientific computing.  Submission instructions are available <a href="mloss-info.html">here</a>.

{%for info_list in list_info_mloss|reverse %}
<ul class="list-papers list-group list-group-flush">
    {%for paper in info_list %}
    <li class="list-group-item">
        <h4><a class="paper-title darkblue" href="{{base_url}}/papers/v{{paper.volume}}/{{paper.id}}.html">{{paper.title_html|safe}}</a></h4>
        <p><i>{{paper.authors_string}}</i> {{paper.vol}}({{paper.issue}}):{{paper.pages[0]}}&minus;{{paper.pages[1]}}, {{paper.year}} <span style="float: right">            {% if paper.extra_links %}{% for link in paper.extra_links %}<a class="btn btn-secondary btn-sm" href="{{link[1]}}">{{link[0]}}</a>{% endfor %}{% endif %}<a class="btn btn-primary btn-sm" href="http://jmlr.org/papers/volume{{paper.volume}}/{{paper.id}}/{{paper.id}}.pdf" role="button">PDF</a>
            <a class="btn btn-info btn-sm" href="http://jmlr.org/papers/v{{paper.volume}}/{{paper.id}}.bib" role="button">BibTeX</a>
        </span>
        </p>
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}
