{% extends "base.html" %}

{% block content %}
<h1>Machine Learning Open Source Software</h1>

To support the open source software movement, JMLR MLOSS publishes contributions related to implementations of non-trivial machine learning algorithms, toolboxes or even languages for scientific computing.  Submission instructions are available <a href="mloss-info.html">here</a>.


{%for info_list in list_info_mloss|reverse %}
{%for paper in info_list %}
<p>
<dl>
<dt>{{paper.title}}</dt>
<dd><b><i>{{paper.authors_string}}</i></b>; {{paper.vol}}({{paper.issue}}):{{paper.pages[0]}}&minus;{{paper.pages[1]}}, {{paper.year}}.
<br>[<a href='/papers/v{{paper.volume}}/{{paper.id}}.html'>abs</a>][<a target=_blank href='/papers/volume{{paper.volume}}/{{paper.id}}/{{paper.id}}.pdf'>pdf</a>][<a href="/papers/v{{paper.volume}}/{{paper.id}}.bib">bib</a>]
{% if paper.extra_links %}
&nbsp;&nbsp;&nbsp;&nbsp;
{% for link in paper.extra_links %}
 [<a href="{{link[1]}}">{{link[0]}}</a>]
{% endfor %}
{% endif %}
</dl>
</p>
{% endfor %}
{% endfor %}

{% endblock %}