<html>
 <head>
  <!--#include virtual="/css-scroll.txt"-->
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
 <!-- MathJax -->
 <script type="text/x-mathjax-config">
     MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
 </script>
 <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
 </script>

<title>JMLR Machine Learning Open Source Software</title>
<style>
. {font-family:verdana,helvetica,sans-serif}
a {text-decoration:none;color:#3030a0}
</style>
</head>
 <body>
 <div id="content">

<h1>Machine Learning Open Source Software</h1>

To support the open source software movement, JMLR MLOSS publishes contributions related to implementations of non-trivial machine learning algorithms, toolboxes or even languages for scientific computing.  Submission instructions are available <a href="mloss-info.html">here</a>.

<p>
<dl>
<dt>A Library for Locally Weighted Projection Regression
<dd><b><i>Stefan Klanke, Sethu Vijayakumar, Stefan Schaal</i></b>; 9(Apr):623--626, 2008.
<br>[<a href="http://www.jmlr.org/papers/v9/klanke08a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume9/klanke08a/klanke08a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume9/klanke08a/klanke08a.tar.gz">code</a>][<a href="http://mloss.org/software/view/65/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Shark
<dd><b><i>Christian Igel, Verena Heidrich-Meisner, Tobias Glasmachers</i></b>; 9(Jun):993--996, 2008.
<br>[<a href="http://www.jmlr.org/papers/v9/igel08a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume9/igel08a/igel08a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="../volume9/igel08a/igel08a_code.tgz">code</a>][<a href="http://mloss.org/software/view/70/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>LIBLINEAR: A Library for Large Linear Classification
<dd><b><i>Rong-En Fan, Kai-Wei Chang, Cho-Jui Hsieh, Xiang-Rui Wang, Chih-Jen Lin</i></b>; 9(Aug):1871--1874, 2008.
<br>[<a href="http://www.jmlr.org/papers/v9/fan08a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume9/fan08a/fan08a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume9/fan08a/liblinear-1.32.zip">code</a>][<a href="http://mloss.org/software/view/61/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>JNCC2: The Java Implementation Of Naive Credal Classifier 2
<dd><b><i>Giorgio Corani, Marco Zaffalon</i></b>; 9(Dec):2695--2698, 2008.
<br>[<a href="http://www.jmlr.org/papers/v9/corani08b.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume9/corani08b/corani08b.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume9/corani08b/corani08b-code.tar.gz">code</a>][<a href="http://www.mloss.org/software/view/63/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Python Environment for Bayesian Learning: Inferring the Structure of Bayesian Networks from Knowledge and Data
<dd><b><i>Abhik Shah, Peter Woolf</i></b>; 10(Feb):159--162, 2009.
<br>[<a href="http://www.jmlr.org/papers/v10/shah09a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume10/shah09a/shah09a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/shah09a/pebl-1.1.tgz">code</a>][<a href="http://mloss.org/software/view/86/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Nieme: Large-Scale Energy-Based Models
<dd><b><i>Francis Maes</i></b>; 10(Mar):743--746, 2009.
<br>[<a href="http://www.jmlr.org/papers/v10/maes09a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume10/maes09a/maes09a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/maes09a/nieme-source-2009-03-06.tgz">code</a>][<a href="http://mloss.org/software/view/49/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Java-ML: A Machine Learning Library
<dd><b><i>Thomas Abeel, Yves Van de Peer, Yvan Saeys</i></b>; 10(Apr):931--934, 2009.
<br>[<a href="http://www.jmlr.org/papers/v10/abeel09a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume10/abeel09a/abeel09a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/abeel09a/javaml-0.1.4.tar.gz">code</a>][<a href="http://mloss.org/software/view/136/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Model Monitor (<i>M</i><sup>2</sup>): Evaluating, Comparing, and Monitoring Models
<dd><b><i>Troy Raeder, Nitesh V. Chawla</i></b>; 10(Jul):1387--1390, 2009.
<br>[<a href="http://www.jmlr.org/papers/v10/raeder09a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume10/raeder09a/raeder09a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/raeder09a/raeder09a-code.tar.gz">code</a>][<a href="http://mloss.org/software/view/137/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Dlib-ml: A Machine Learning Toolkit
<dd><b><i>Davis E. King</i></b>; 10(Jul):1755--1758, 2009.
<br>[<a href="http://www.jmlr.org/papers/v10/king09a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume10/king09a/king09a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/king09a/king09a-code.tar.bz2">code</a>][<a href="http://mloss.org/software/view/83/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>RL-Glue: Language-Independent Software for Reinforcement-Learning Experiments
<dd><b><i>Brian Tanner, Adam White</i></b>; 10(Sep):2133--2136, 2009.
<br>[<a href="http://www.jmlr.org/papers/v10/tanner09a.html">abs</a>][<a target="_blank" href="http://www.jmlr.org/papers/volume10/tanner09a/tanner09a.pdf">pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/tanner09a/rlglue-3.04.tar.gz">code</a>][<a href="http://mloss.org/software/view/151/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>DL-Learner: Learning Concepts in Description Logics
<dd><b><i>Jens Lehmann</i></b>; 10(Nov):2639&minus;2642, 2009.
<br>[<a href=http://www.jmlr.org/papers/v10/lehmann09a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume10/lehmann09a/lehmann09a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume10/lehmann09a/Protege-DL-Learner-plugin-0.5.2.zip">code</a>][<a href="http://mloss.org/software/view/58/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Error-Correcting Output Codes Library
<dd><b><i>Sergio Escalera, Oriol Pujol, Petia Radeva</i></b>; 11(Feb):661&minus;664, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/escalera10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/escalera10a/escalera10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume11/escalera10a/Code.zip">code</a>][<a href="http://mloss.org/software/view/238/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>PyBrain
<dd><b><i>Tom Schaul, Justin Bayer, Daan Wierstra, Yi Sun, Martin Felder, Frank Sehnke, Thomas R&#252;ckstie&#223;, J&#252;rgen Schmidhuber</i></b>; 11(Feb):743&minus;746, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/schaul10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/schaul10a/schaul10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.jmlr.org/papers/volume11/schaul10a/pybrain0.3.zip">code</a>][<a href="http://mloss.org/software/view/156/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Continuous Time Bayesian Network Reasoning and Learning Engine
<dd><b><i>Christian R. Shelton, Yu Fan, William Lam, Joon Lee, Jing Xu</i></b>; 11(Mar):1137&minus;1140, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/shelton10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/shelton10a/shelton10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/414/">code</a>][<a href="http://mloss.org/software/view/216/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>SFO: A Toolbox for Submodular Function Optimization
<dd><b><i>Andreas Krause</i></b>; 11(Mar):1141&minus;1144, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/krause10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/krause10a/krause10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/421/">code</a>][<a href="http://mloss.org/software/view/201/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>MOA: Massive Online Analysis
<dd><b><i>Albert Bifet, Geoff Holmes, Richard Kirkby, Bernhard Pfahringer</i></b>; 11(May):1601&minus;1604, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/bifet10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/bifet10a/bifet10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/448/">code</a>][<a href="http://mloss.org/software/view/258/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>FastInf: An Efficient Approximate Inference Library
<dd><b><i>Ariel Jaimovich, Ofer Meshi, Ian McGraw, Gal Elidan</i></b>; 11(May):1733&minus;1736, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/jaimovich10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/jaimovich10a/jaimovich10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/440/">code</a>][<a href="http://mloss.org/software/view/253/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>The SHOGUN Machine Learning Toolbox
<dd><b><i>S&#246;ren Sonnenburg, Gunnar R&#228;tsch, Sebastian Henschel, Christian Widmer, Jonas Behr, Alexander Zien, Fabio de Bona, Alexander Binder, Christian Gehl, Vojt&#x011B;ch Franc</i></b>; 11(Jun):1799&minus;1802, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/sonnenburg10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/sonnenburg10a/sonnenburg10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/460/">code</a>][<a href="http://mloss.org/software/view/2/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>A Surrogate Modeling and Adaptive Sampling Toolbox for Computer Based Design
<dd><b><i>Dirk Gorissen, Ivo Couckuyt, Piet Demeester, Tom Dhaene, Karel Crombecq</i></b>; 11(Jul):2051&minus;2055, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/gorissen10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/gorissen10a/gorissen10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/467/">code</a>][<a href="http://mloss.org/software/view/261/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Model-based Boosting 2.0
<dd><b><i>Torsten Hothorn, Peter B&#252;hlmann, Thomas Kneib, Matthias Schmid, Benjamin Hofner</i></b>; 11(Aug):2109&minus;2113, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/hothorn10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/hothorn10a/hothorn10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://cran.r-project.org/web/packages/mboost/index.html">code</a>][<a href="http://mloss.org/software/view/105/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>libDAI: A Free and Open Source C++ Library for Discrete Approximate Inference in Graphical Models
<dd><b><i>Joris M. Mooij</i></b>; 11(Aug):2169&minus;2173, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/mooij10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/mooij10a/mooij10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/529/">code</a>][<a href="http://mloss.org/software/view/77/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Gaussian Processes for Machine Learning (GPML) Toolbox
<dd><b><i>Carl Edward Rasmussen, Hannes Nickisch</i></b>; 11(Nov):3011&minus;3015, 2010.
<br>[<a href=http://www.jmlr.org/papers/v11/rasmussen10a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume11/rasmussen10a/rasmussen10a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/558/">code</a>][<a href="http://mloss.org/software/view/263/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>CARP: Software for Fishing Out Good Clustering Algorithms
<dd><b><i>Volodymyr Melnykov, Ranjan Maitra</i></b>; 12(Jan):69&minus;73, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/melnykov11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/melnykov11a/melnykov11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/597/">code</a>][<a href="http://mloss.org/software/view/248/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>The arules R-Package Ecosystem: Analyzing Interesting Patterns from Large Transaction Data Sets
<dd><b><i>Michael Hahsler, Sudheer Chelluboina, Kurt Hornik, Christian Buchta</i></b>; 12(Jun):2021&minus;2025, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/hahsler11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/hahsler11a/hahsler11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/750/">code</a>][<a href="http://mloss.org/revision/view/750/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>MSVMpack: A Multi-Class Support Vector Machine Package
<dd><b><i>Fabien Lauer, Yann Guermeur</i></b>; 12(Jul):2293&minus;2296, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/lauer11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/lauer11a/lauer11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/771/">code</a>][<a href="http://mloss.org/software/view/320/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt><i>Waffles</i>: A Machine Learning Toolkit
<dd><b><i>Michael Gashler</i></b>; 12(Jul):2383&minus;2387, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/gashler11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/gashler11a/gashler11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/639/">code</a>][<a href="http://mloss.org/software/view/80/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>MULAN: A Java Library for Multi-Label Learning
<dd><b><i>Grigorios Tsoumakas, Eleftherios Spyromitros-Xioufis, Jozef Vilcek, Ioannis Vlahavas</i></b>; 12(Jul):2411&minus;2414, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/tsoumakas11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/tsoumakas11a/tsoumakas11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/737/">code</a>][<a href="http://mloss.org/software/view/243/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>LPmade: Link Prediction Made Easy
<dd><b><i>Ryan N. Lichtenwalter, Nitesh V. Chawla</i></b>; 12(Aug):2489&minus;2492, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/lichtenwalter11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/lichtenwalter11a/lichtenwalter11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/774/">code</a>][<a href="http://mloss.org/software/view/307/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Scikit-learn: Machine Learning in Python
<dd><b><i>Fabian Pedregosa, Ga&#235;l Varoquaux, Alexandre Gramfort, Vincent Michel, Bertrand Thirion, Olivier Grisel, Mathieu Blondel, Peter Prettenhofer, Ron Weiss, Vincent Dubourg, Jake Vanderplas, Alexandre Passos, David Cournapeau, Matthieu Brucher, Matthieu Perrot, &#201;douard Duchesnay</i></b>; 12(Oct):2825&minus;2830, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/pedregosa11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/pedregosa11a/pedregosa11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/838/">code</a>][<a href="http://mloss.org/software/view/240/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>The Stationary Subspace Analysis Toolbox
<dd><b><i>Jan Saputra M&#252;ller, Paul von B&#252;nau, Frank C. Meinecke, Franz J. Kir&#225;ly, Klaus-Robert M&#252;ller</i></b>; 12(Oct):3065&minus;3069, 2011.
<br>[<a href=http://www.jmlr.org/papers/v12/mueller11a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume12/mueller11a/mueller11a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/851/">code</a>][<a href="http://mloss.org/software/view/292/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>MULTIBOOST: A Multi-purpose Boosting Package
<dd><b><i>Djalel Benbouzid, R&#243;bert Busa-Fekete, Norman Casagrande, Fran&#231;ois-David Collin, Bal&#225;zs K&#233;gl</i></b>; 13(Mar):549&minus;553, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/benbouzid12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/benbouzid12a/benbouzid12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.multiboost.org/download">code</a>][<a href="http://mloss.org/software/view/246/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>ML-Flex: A Flexible Toolbox for Performing Classification Analyses In Parallel
<dd><b><i>Stephen R. Piccolo, Lewis J. Frey</i></b>; 13(Mar):555&minus;559, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/piccolo12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/piccolo12a/piccolo12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="https://sourceforge.net/projects/mlflex/files/">code</a>][<a href="http://mlflex.sourceforge.net">sourceforge.net</a>]
</dl>
</p>

<p>
<dl>
<dt>GPLP: A Local and Parallel Computation Toolbox for Gaussian Process Regression
<dd><b><i>Chiwoo Park, Jianhua Z. Huang, Yu Ding</i></b>; 13(Mar):775&minus;779, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/park12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/park12a/park12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/990/">code</a>][<a href="http://mloss.org/software/view/395/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>NIMFA : A Python Library for Nonnegative Matrix Factorization
<dd><b><i>Marinka &#381;itnik, Bla&#382; Zupan</i></b>; 13(Mar):849&minus;853, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/zitnik12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/zitnik12a/zitnik12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/994/">code</a>][<a href="http://mloss.org/software/view/397/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>The huge Package for High-dimensional Undirected Graph Estimation in R
<dd><b><i>Tuo Zhao, Han Liu, Kathryn Roeder, John Lafferty, Larry Wasserman</i></b>; 13(Apr):1059&minus;1062, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/zhao12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/zhao12a/zhao12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://cran.r-project.org/web/packages/huge/">code</a>][<a href="http://cran.r-project.org/web/packages/huge/">cran.r-project.org</a>]
</dl>
</p>

<p>
<dl>
<dt>glm-ie: Generalised Linear Models Inference &amp; Estimation Toolbox
<dd><b><i>Hannes Nickisch</i></b>; 13(May):1699&minus;1703, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/nickisch12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/nickisch12a/nickisch12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://www.mloss.org/revision/download/847/">code</a>][<a href="http://www.mloss.org/software/view/269/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Jstacs: A Java Framework for Statistical Analysis and Classification of Biological Sequences
<dd><b><i>Jan Grau, Jens Keilwagen, Andr&#233; Gohr, Berit Haldemann, Stefan Posch, Ivo Grosse</i></b>; 13(Jun):1967&minus;1971, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/grau12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/grau12a/grau12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/958/">code</a>][<a href="http://mloss.org/software/view/221/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Pattern for Python
<dd><b><i>Tom De Smedt, Walter Daelemans</i></b>; 13(Jun):2063&minus;2067, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/desmedt12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/desmedt12a/desmedt12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/972/">code</a>][<a href="http://mloss.org/software/view/391/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>DEAP: Evolutionary Algorithms Made Easy
<dd><b><i>F&#233;lix-Antoine Fortin, Fran&#231;ois-Michel De Rainville, Marc-Andr&#233; Gardner, Marc Parizeau, Christian Gagn&#233;</i></b>; 13(Jul):2171&minus;2175, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/fortin12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/fortin12a/fortin12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="https://code.google.com/p/deap/downloads/list">code</a>][<a href="http://deap.gel.ulaval.ca">deap.gel.ulaval.ca</a>]
</dl>
</p>

<p>
<dl>
<dt>A Topic Modeling Toolbox Using Belief Propagation
<dd><b><i>Jia Zeng</i></b>; 13(Jul):2233&minus;2236, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/zeng12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/zeng12a/zeng12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1010/">code</a>][<a href="http://mloss.org/software/view/399/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>PREA: Personalized Recommendation Algorithms Toolkit
<dd><b><i>Joonseok Lee, Mingxuan Sun, Guy Lebanon</i></b>; 13(Sep):2699&minus;2703, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/lee12b.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/lee12b/lee12b.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1096/">code</a>][<a href="http://mloss.org/software/view/420/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Oger: Modular Learning Architectures For Large-Scale Sequential Processing
<dd><b><i>David Verstraeten, Benjamin Schrauwen, Sander Dieleman, Philemon Brakel, Pieter Buteneers, Dejan Pecevski</i></b>; 13(Oct):2995&minus;2998, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/verstraeten12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/verstraeten12a/verstraeten12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1088/">code</a>][<a href="http://mloss.org/software/view/419/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>Sally: A Tool for Embedding Strings in Vector Spaces
<dd><b><i>Konrad Rieck, Christian Wressnegger, Alexander Bikadorov</i></b>; 13(Nov):3247&minus;3251, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/rieck12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/rieck12a/rieck12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1092/">code</a>][<a href="http://mloss.org/software/view/276/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>DARWIN: A Framework for Machine Learning and Computer Vision Research and Development
<dd><b><i>Stephen Gould</i></b>; 13(Dec):3533&minus;3537, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/gould12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/gould12a/gould12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1173/">code</a>][<a href="http://mloss.org/software/view/362/">mloss.org</a>]
</dl>
</p>

<p>
<dl>
<dt>SVDFeature: A Toolkit for Feature-based Collaborative Filtering
<dd><b><i>Tianqi Chen, Weinan Zhang, Qiuxia Lu, Kailong Chen, Zhao Zheng, Yong Yu</i></b>; 13(Dec):3619&minus;3622, 2012.
<br>[<a href=http://www.jmlr.org/papers/v13/chen12a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume13/chen12a/chen12a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1077/">code</a>][<a href="http://mloss.org/software/view/333/">mloss.org</a>]
</dl>
</p>


<p>
<dl>
<dt>A <code>C++</code> Template-Based Reinforcement Learning Library: Fitting the Code to the Mathematics</dt>
<dd><b><i>Herv&eacute; Frezza-Buet, Matthieu Geist</i></b>; 14(Feb):625&minus;628, 2013.
<br>[<a href=http://www.jmlr.org/papers/v14/frezza-buet13a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume14/frezza-buet13a/frezza-buet13a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://malis.metz.supelec.fr/depot/Sources/rl-2.04.00.tar.gz">code</a>][<a href="http://malis.metz.supelec.fr/spip.php?article122">malis.metz.supelec.fr</a>]</dl>
</p>

<p>
<dl>
<dt>MLPACK: A Scalable C++ Machine Learning Library</dt>
<dd><b><i>Ryan R. Curtin, James R. Cline, N. P. Slagle, William B. March, Parikshit Ram, Nishant A. Mehta, Alexander G. Gray</i></b>; 14(Mar):801&minus;805, 2013.
<br>[<a href=http://www.jmlr.org/papers/v14/curtin13a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume14/curtin13a/curtin13a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1223/">code</a>][<a href="http://mloss.org/software/view/152/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>GPstuff: Bayesian Modeling with Gaussian Processes</dt>
<dd><b><i>Jarno Vanhatalo, Jaakko Riihim&#228;ki, Jouni Hartikainen, Pasi Jyl&#228;nki, Ville Tolvanen, Aki Vehtari</i></b>; 14(Apr):1175&minus;1179, 2013.
<br>[<a href=http://www.jmlr.org/papers/v14/vanhatalo13a.html>abs</a>][<a target=_blank href=http://www.jmlr.org/papers/volume14/vanhatalo13a/vanhatalo13a.pdf>pdf</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1289/">code</a>][<a href="http://mloss.org/software/view/451/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>JKernelMachines: A Simple Framework for Kernel Machines</dt>
<dd><b><i>David Picard, Nicolas Thome, Matthieu Cord</i></b>; 14(May):1417&minus;1421, 2013.
<br>[<a href='/papers/v14/picard13a.html'>abs</a>][<a target=_blank href='/papers/volume14/picard13a/picard13a.pdf'>pdf</a>][<a href="/papers/v14/picard13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1236/">code</a>][<a href="http://mloss.org/software/view/409/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>Orange: Data Mining Toolbox in Python</dt>
<dd><b><i>Janez Demšar, Tomaž Curk, Aleš Erjavec, Črt Gorup, Tomaž Hočevar, Mitar Milutinovič, Martin Možina, Matija Polajnar, Marko Toplak, Anže Starič, Miha Štajdohar, Lan Umek, Lan Žagar, Jure Žbontar, Marinka Žitnik, Blaž Zupan</i></b>; 14(Aug):2349&minus;2353, 2013.
<br>[<a href='/papers/v14/demsar13a.html'>abs</a>][<a target=_blank href='/papers/volume14/demsar13a/demsar13a.pdf'>pdf</a>][<a href="/papers/v14/demsar13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://orange.biolab.si/">code</a>][<a href="http://mloss.org/software/view/25/">mloss.org</a>]</dl>
</p>


<p>
<dl>
<dt>Tapkee: An Efficient Dimension Reduction Library</dt>
<dd><b><i>Sergey Lisitsyn, Christian Widmer, Fernando J. Iglesias Garcia</i></b>; 14(Aug):2355&minus;2359, 2013.
<br>[<a href='/papers/v14/lisitsyn13a.html'>abs</a>][<a target=_blank href='/papers/volume14/lisitsyn13a/lisitsyn13a.pdf'>pdf</a>][<a href="/papers/v14/lisitsyn13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1255/">code</a>][<a href="http://mloss.org/software/view/372/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>The CAM Software for Nonnegative Blind Source Separation in R-Java</dt>
<dd><b><i>Niya Wang, Fan Meng, Li Chen, Subha Madhavan, Robert Clarke, Eric P. Hoffman, Jianhua Xuan, Yue Wang</i></b>; 14(Sep):2899&minus;2903, 2013.
<br>[<a href='/papers/v14/wang13d.html'>abs</a>][<a target=_blank href='/papers/volume14/wang13d/wang13d.pdf'>pdf</a>][<a href="/papers/v14/wang13d.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1339/">code</a>][<a href="http://mloss.org/software/view/437/">mloss.org</a>]</dl>
</p>


<p>
<dl>
<dt>QuantMiner for Mining Quantitative Association Rules</dt>
<dd><b><i>Ansaf Salleb-Aouissi, Christel Vrain, Cyril Nortet, Xiangrong Kong, Vivek Rathod, Daniel Cassard</i></b>; 14(Oct):3153&minus;3157, 2013.
<br>[<a href='/papers/v14/salleb-aouissi13a.html'>abs</a>][<a target=_blank href='/papers/volume14/salleb-aouissi13a/salleb-aouissi13a.pdf'>pdf</a>][<a href="/papers/v14/salleb-aouissi13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/QuantMiner/QuantMiner/zipball/master">code</a>][<a href="http://quantminer.github.io/QuantMiner/">github.com</a>]</dl>
</p>



<p>
<dl>
<dt>Divvy: Fast and Intuitive Exploratory Data Analysis</dt>
<dd><b><i>Joshua M. Lewis, Virginia R. de Sa, Laurens van der Maaten</i></b>; 14(Oct):3159&minus;3163, 2013.
<br>[<a href='/papers/v14/lewis13a.html'>abs</a>][<a target=_blank href='/papers/volume14/lewis13a/lewis13a.pdf'>pdf</a>][<a href="/papers/v14/lewis13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1159/">code</a>][<a href="http://mloss.org/software/view/436/">mloss.org</a>]</dl>
</p>


<p>
<dl>
<dt>GURLS: A Least Squares Library for Supervised Learning</dt>
<dd><b><i>Andrea Tacchetti, Pavan K. Mallapragada, Matteo Santoro, Lorenzo Rosasco</i></b>; 14(Oct):3201&minus;3205, 2013.
<br>[<a href='/papers/v14/tacchetti13a.html'>abs</a>][<a target=_blank href='/papers/volume14/tacchetti13a/tacchetti13a.pdf'>pdf</a>][<a href="/papers/v14/tacchetti13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/LCSL/GURLS/archive/master.zip">code</a>][<a href="https://github.com/LCSL/GURLS">github.com</a>]</dl>
</p>

<p>
<dl>
<dt>BudgetedSVM: A Toolbox for Scalable SVM Approximations</dt>
<dd><b><i>Nemanja Djuric, Liang Lan, Slobodan Vucetic, Zhuang Wang</i></b>; 14(Dec):3813&minus;3817, 2013.
<br>[<a href='/papers/v14/djuric13a.html'>abs</a>][<a target=_blank href='/papers/volume14/djuric13a/djuric13a.pdf'>pdf</a>][<a href="/papers/v14/djuric13a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://sourceforge.net/projects/budgetedsvm/files/latest/download">code</a>][<a href="http://www.dabi.temple.edu/budgetedsvm/">temple.edu</a>]</dl>
</p>

<p>
<dl>
<dt>EnsembleSVM: A Library for Ensemble Learning Using Support Vector Machines</dt>
<dd><b><i>Marc Claesen, Frank De Smet, Johan A.K. Suykens, Bart De Moor</i></b>; 15(Jan):141&minus;145, 2014.
<br>[<a href='/papers/v15/claesen14a.html'>abs</a>][<a target=_blank href='/papers/volume15/claesen14a/claesen14a.pdf'>pdf</a>][<a href="/papers/v15/claesen14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1416/">code</a>][<a href="http://mloss.org/software/view/452/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>Information Theoretical Estimators Toolbox</dt>
<dd><b><i>Zoltán Szabó</i></b>; 15(Jan):283&minus;287, 2014.
<br>[<a href='/papers/v15/szabo14a.html'>abs</a>][<a target=_blank href='/papers/volume15/szabo14a/szabo14a.pdf'>pdf</a>][<a href="/papers/v15/szabo14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://mloss.org/revision/download/1528/">code</a>][<a href="http://mloss.org/software/view/428/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>The FASTCLIME Package for Linear Programming and Large-Scale Precision Matrix Estimation in R</dt>
<dd><b><i>Haotian Pang, Han Liu, Robert Vanderbei</i></b>; 15(Feb):489&minus;493, 2014.
<br>[<a href='/papers/v15/pang14a.html'>abs</a>][<a target=_blank href='/papers/volume15/pang14a/pang14a.pdf'>pdf</a>][<a href="/papers/v15/pang14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://mloss.org/revision/download/1522/">code</a>][<a href="https://mloss.org/software/view/540/">mloss.org</a>]</dl>
</p>



<p>
<dl>
<dt>LIBOL: A Library for Online Learning Algorithms</dt>
<dd><b><i>Steven C.H. Hoi, Jialei Wang, Peilin Zhao</i></b>; 15(Feb):495&minus;499, 2014.
<br>[<a href='/papers/v15/hoi14a.html'>abs</a>][<a target=_blank href='/papers/volume15/hoi14a/hoi14a.pdf'>pdf</a>][<a href="/papers/v15/hoi14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://mloss.org/revision/download/1482/">code</a>][<a href="https://mloss.org/software/view/441/">mloss.org</a>]</dl>
</p>

<p>
<dl>
<dt>Conditional Random Field with High-order Dependencies for Sequence Labeling and Segmentation</dt>
<dd><b><i>Nguyen Viet Cuong, Nan Ye, Wee Sun Lee, Hai Leong Chieu</i></b>; 15(Mar):981&minus;1009, 2014.
<br>[<a href='/papers/v15/cuong14a.html'>abs</a>][<a target=_blank href='/papers/volume15/cuong14a/cuong14a.pdf'>pdf</a>][<a href="/papers/v15/cuong14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/nvcuong/HOSemiCRF/archive/master.zip">code</a>][<a href="https://github.com/nvcuong/HOSemiCRF">github.com</a>]</dl>
</p>


<p>
<dl>
<dt>Manopt, a Matlab Toolbox for Optimization on Manifolds</dt>
<dd><b><i>Nicolas Boumal, Bamdev Mishra, P.-A. Absil, Rodolphe Sepulchre</i></b>; 15(Apr):1455&minus;1459, 2014.
<br>[<a href='/papers/v15/boumal14a.html'>abs</a>][<a target=_blank href='/papers/volume15/boumal14a/boumal14a.pdf'>pdf</a>][<a href="/papers/v15/boumal14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://www.manopt.org/download.html">code</a>][<a href="http://www.manopt.org/">manopt.org</a>]</dl>
</p>

<p>
<dl>
<dt>pystruct - Learning Structured Prediction in Python</dt>
<dd><b><i>Andreas C. Müller, Sven Behnke</i></b>; 15(Jun):2055&minus;2060, 2014.
<br>[<a href='/papers/v15/mueller14a.html'>abs</a>][<a target=_blank href='/papers/volume15/mueller14a/mueller14a.pdf'>pdf</a>][<a href="/papers/v15/mueller14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/pystruct/pystruct/archive/master.zip">code</a>][<a href="https://pystruct.github.io/">github.io</a>]</dl>
</p>

<p>
<dl>
<dt>ooDACE Toolbox: A Flexible Object-Oriented Kriging Implementation</dt>
<dd><b><i>Ivo Couckuyt, Tom Dhaene, Piet Demeester</i></b>; 15(Oct):3183&minus;3186, 2014.
<br>[<a href='/papers/v15/couckuyt14a.html'>abs</a>][<a target=_blank href='/papers/volume15/couckuyt14a/couckuyt14a.pdf'>pdf</a>][<a href="/papers/v15/couckuyt14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://sumo.intec.ugent.be/sites/sumo/files//ooDACE-1.4.zip">code</a>][<a href="http://sumo.intec.ugent.be/?q=ooDACE">sumo.intec.ugent.be</a>]</dl>
</p>



<p>
<dl>
<dt>The Gesture Recognition Toolkit</dt>
<dd><b><i>Nicholas Gillian, Joseph A. Paradiso</i></b>; 15(Oct):3483&minus;3487, 2014.
<br>[<a href='/papers/v15/gillian14a.html'>abs</a>][<a target=_blank href='/papers/volume15/gillian14a/gillian14a.pdf'>pdf</a>][<a href="/papers/v15/gillian14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/nickgillian/grt/archive/master.zip">code</a>][<a href="https://github.com/nickgillian/grt">github.com</a>]</dl>
</p>


<p>
<dl>
<dt>SPMF: A Java Open-Source Pattern Mining Library</dt>
<dd><b><i>Philippe Fournier Viger, Antonio Gomariz, Ted Gueniche, Azadeh Soltani, Cheng-Wei Wu, Vincent S. Tseng</i></b>; 15(Nov):3389&minus;3393, 2014.
<br>[<a href='/papers/v15/fournierviger14a.html'>abs</a>][<a target=_blank href='/papers/volume15/fournierviger14a/fournierviger14a.pdf'>pdf</a>][<a href="/papers/v15/fournierviger14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://www.philippe-fournier-viger.com/spmf/index.php?link=download.php">code</a>][<a href="http://www.philippe-fournier-viger.com/spmf/">www.philippe-fournier-viger.com</a>]</dl>
</p>

<p>
<dl>
<dt>BayesOpt: A Bayesian Optimization Library for Nonlinear Optimization, Experimental Design and Bandits</dt>
<dd><b><i>Ruben Martinez-Cantin</i></b>; 15(Nov):3735&minus;3739, 2014.
<br>[<a href='/papers/v15/martinezcantin14a.html'>abs</a>][<a target=_blank href='/papers/volume15/martinezcantin14a/martinezcantin14a.pdf'>pdf</a>][<a href="/papers/v15/martinezcantin14a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://bitbucket.org/rmcantin/bayesopt/downloads">code</a>][<a href="https://bitbucket.org/rmcantin/bayesopt">bitbucket.org</a>]</dl>
</p>

<p>
<dl>
<dt>SAMOA: Scalable Advanced Massive Online Analysis</dt>
<dd><b><i>Gianmarco De Francisci Morales, Albert Bifet</i></b>; 16(Jan):149&minus;153, 2015.
<br>[<a href='/papers/v16/morales15a.html'>abs</a>][<a target=_blank href='/papers/volume16/morales15a/morales15a.pdf'>pdf</a>][<a href="/papers/v16/morales15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/yahoo/samoa/releases">code</a>][<a href="http://samoa-project.net">samoa-project.net</a>]</dl>
</p>


<p>
<dl>
<dt>The flare Package for High Dimensional Linear Regression and Precision Matrix Estimation in R</dt>
<dd><b><i>Xingguo Li, Tuo Zhao, Xiaoming Yuan, Han Liu</i></b>; 16(Mar):553&minus;557, 2015.
<br>[<a href='/papers/v16/li15a.html'>abs</a>][<a target=_blank href='/papers/volume16/li15a/li15a.pdf'>pdf</a>][<a href="/papers/v16/li15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://cran.r-project.org/src/contrib/flare_1.5.0.tar.gz">code</a>][<a href="http://cran.r-project.org/web/packages/flare/index.html">cran.r-project.org</a>]</dl>
</p>



<p>
<dl>
<dt>Introducing CURRENNT: The Munich Open-Source CUDA RecurREnt Neural Network Toolkit</dt>
<dd><b><i>Felix Weninger</i></b>; 16(Mar):547&minus;551, 2015.
<br>[<a href='/papers/v16/weninger15a.html'>abs</a>][<a target=_blank href='/papers/volume16/weninger15a/weninger15a.pdf'>pdf</a>][<a href="/papers/v16/weninger15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://sourceforge.net/projects/currennt/files/latest/download">code</a>][<a href="http://sourceforge.net/projects/currennt/">sourceforge.net</a>]</dl>
</p>



<p>
<dl>
<dt>A Classification Module for Genetic Programming Algorithms in JCLEC</dt>
<dd><b><i>Alberto Cano, José María Luna, Amelia Zafra, Sebastián Ventura</i></b>; 16(Mar):491&minus;494, 2015.
<br>[<a href='/papers/v16/cano15a.html'>abs</a>][<a target=_blank href='/papers/volume16/cano15a/cano15a.pdf'>pdf</a>][<a href="/papers/v16/cano15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://sourceforge.net/projects/jclec/files/4.0.0/">code</a>][<a href="http://jclec.sourceforge.net/">jclec.sourceforge.net</a>]</dl>
</p>

<p>
<dl>
<dt>Encog: Library of Interchangeable Machine Learning Models for Java and C#</dt>
<dd><b><i>Jeff Heaton</i></b>; 16(Jun):1243&minus;1247, 2015.
<br>[<a href='/papers/v16/heaton15a.html'>abs</a>][<a target=_blank href='/papers/volume16/heaton15a/heaton15a.pdf'>pdf</a>][<a href="/papers/v16/heaton15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://www.heatonresearch.com/download/">code</a>][<a href="http://www.encog.org">www.encog.org</a>]</dl>
</p>

<p>
<dl>
<dt>RLPy: A Value-Function-Based Reinforcement Learning Framework for Education and Research</dt>
<dd><b><i>Alborz Geramifard, Christoph Dann, Robert H. Klein, William Dabney, Jonathan P. How</i></b>; 16(Aug):1573&minus;1578, 2015.
<br>[<a href='/papers/v16/geramifard15a.html'>abs</a>][<a target=_blank href='/papers/volume16/geramifard15a/geramifard15a.pdf'>pdf</a>][<a href="/papers/v16/geramifard15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/rlpy/rlpy/releases">code</a>][<a href="https://github.com/rlpy/rlpy">github</a>]</dl>
</p>

<p>
<dl>
<dt>The Libra Toolkit for Probabilistic Models</dt>
<dd><b><i>Daniel Lowd, Amirmohammad Rooshenas</i></b>; 16(Dec):2459&minus;2463, 2015.
<br>[<a href='/papers/v16/lowd15a.html'>abs</a>][<a target=_blank href='/papers/volume16/lowd15a/lowd15a.pdf'>pdf</a>][<a href="/papers/v16/lowd15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://libra.cs.uoregon.edu/">code</a>][<a href="http://libra.cs.uoregon.edu/">uoregon.edu</a>]</dl>
</p>


<p>
<dl>
<dt>pyGPs -- A Python Library for Gaussian Process Regression and Classification</dt>
<dd><b><i>Marion Neumann, Shan Huang, Daniel E. Marthaler, Kristian Kersting</i></b>; 16(Dec):2611&minus;2616, 2015.
<br>[<a href='/papers/v16/neumann15a.html'>abs</a>][<a target=_blank href='/papers/volume16/neumann15a/neumann15a.pdf'>pdf</a>][<a href="/papers/v16/neumann15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/PMBio/pygp">code</a>][<a href="https://github.com/PMBio/pygp">github</a>]</dl>
</p>


<p>
<dl>
<dt>CEKA: A Tool for Mining the Wisdom of Crowds</dt>
<dd><b><i>Jing Zhang, Victor S. Sheng, Bryce A. Nicholson, Xindong Wu</i></b>; 16(Dec):2853&minus;2858, 2015.
<br>[<a href='/papers/v16/zhang15a.html'>abs</a>][<a target=_blank href='/papers/volume16/zhang15a/zhang15a.pdf'>pdf</a>][<a href="/papers/v16/zhang15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://ceka.sourceforge.net/">code</a>][<a href="http://ceka.sourceforge.net/">sourceforge</a>]</dl>
</p>

<p>
<dl>
<dt>SnFFT: A Julia Toolkit for Fourier Analysis of Functions over Permutations</dt>
<dd><b><i>Gregory Plumb, Deepti Pachauri, Risi Kondor, Vikas Singh</i></b>; 16(Dec):3469&minus;3473, 2015.
<br>[<a href='/papers/v16/plumb15a.html'>abs</a>][<a target=_blank href='/papers/volume16/plumb15a/plumb15a.pdf'>pdf</a>][<a href="/papers/v16/plumb15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/GDPlumb/SnFFT.jl/">code</a>][<a href="https://github.com/GDPlumb/SnFFT.jl/">github</a>]</dl>
</p>


<p>
<dl>
<dt>partykit: A Modular Toolkit for Recursive Partytioning in R</dt>
<dd><b><i>Torsten Hothorn, Achim Zeileis</i></b>; 16(Dec):3905&minus;3909, 2015.
<br>[<a href='/papers/v16/hothorn15a.html'>abs</a>][<a target=_blank href='/papers/volume16/hothorn15a/hothorn15a.pdf'>pdf</a>][<a href="/papers/v16/hothorn15a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://cran.r-project.org/web/packages/partykit/index.html">code</a>][<a href="https://cran.r-project.org/web/packages/partykit/index.html">cran</a>]</dl>
</p>

<p>
<dl>
    <dt>Harry: A Tool for Measuring String Similarity</dt>
    <dd><b><i>Konrad Rieck, Christian Wressnegger</i></b>; 17(9):1&minus;5, 2016.
    <br>[<a href='/papers/v17/rieck16a.html'>abs</a>][<a target=_blank href='/papers/volume17/rieck16a/rieck16a.pdf'>pdf</a>][<a href="/papers/v17/rieck16a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://www.mlsec.org/harry/download.html">code</a>][<a href="http://www.mlsec.org/harry/">mlsec.org</a>]</dl>
</p>


<p>
<dl>
<dt>MEKA: A Multi-label/Multi-target Extension to WEKA</dt>
<dd><b><i>Jesse Read, Peter Reutemann, Bernhard Pfahringer, Geoff Holmes</i></b>; 17(21):1&minus;5, 2016.
<br>[<a href='/papers/v17/12-164.html'>abs</a>][<a target=_blank href='/papers/volume17/12-164/12-164.pdf'>pdf</a>][<a href="/papers/v17/12-164.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/Waikato/meka">code</a>][<a href="http://meka.sourceforge.net/">sourceforge</a>]</dl>
</p>


<p>
<dl>
<dt>MLlib: Machine Learning in Apache Spark</dt>
<dd><b><i>Xiangrui Meng, Joseph Bradley, Burak Yavuz, Evan Sparks, Shivaram Venkataraman, Davies Liu, Jeremy Freeman, DB Tsai, Manish Amde, Sean Owen, Doris Xin, Reynold Xin, Michael J. Franklin, Reza Zadeh, Matei Zaharia, Ameet Talwalkar</i></b>; 17(34):1&minus;7, 2016.
<br>[<a href='/papers/v17/15-237.html'>abs</a>][<a target=_blank href='/papers/volume17/15-237/15-237.pdf'>pdf</a>][<a href="/papers/v17/15-237.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://spark.apache.org/downloads.html">code</a>][<a href="http://spark.apache.org/mllib/">apache.org</a>]</dl>
</p>


<p>
<dl>
<dt>OLPS: A Toolbox for On-Line Portfolio Selection</dt>
<dd><b><i>Bin Li, Doyen Sahoo, Steven C.H. Hoi</i></b>; 17(35):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-317.html'>abs</a>][<a target=_blank href='/papers/volume17/15-317/15-317.pdf'>pdf</a>][<a href="/papers/v17/15-317.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/OLPS/OLPS">code</a>][<a href="https://github.com/OLPS/OLPS">github</a>]</dl>
</p>


<p>
<dl>
<dt>BayesPy: Variational Bayesian Inference in Python</dt>
<dd><b><i>Jaakko Luttinen</i></b>; 17(41):1&minus;6, 2016.
<br>[<a href='/papers/v17/luttinen16a.html'>abs</a>][<a target=_blank href='/papers/volume17/luttinen16a/luttinen16a.pdf'>pdf</a>][<a href="/papers/v17/luttinen16a.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="/papers/volume17/luttinen16a/luttinen16a-appendix.tar.gz">appendix</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/bayespy/bayespy">code</a>][<a href="http://bayespy.org/en/latest/">bayespy.org</a>]</dl>
</p>



<p>
<dl>
<dt>StructED: Risk Minimization in Structured Prediction</dt>
<dd><b><i>Yossi Adi, Joseph Keshet</i></b>; 17(64):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-531.html'>abs</a>][<a target=_blank href='/papers/volume17/15-531/15-531.pdf'>pdf</a>][<a href="/papers/v17/15-531.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/adiyoss/StructED">code</a>][<a href="http://adiyoss.github.io/StructED/">github</a>]</dl>
</p>




<p>
<dl>
<dt>CVXPY: A Python-Embedded Modeling Language for Convex Optimization</dt>
<dd><b><i>Steven Diamond, Stephen Boyd</i></b>; 17(83):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-408.html'>abs</a>][<a target=_blank href='/papers/volume17/15-408/15-408.pdf'>pdf</a>][<a href="/papers/v17/15-408.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://www.cvxpy.org/en/latest/">code</a>][<a href="http://www.cvxpy.org/en/latest/">cvxpy.org</a>]</dl>
</p>



<p>
<dl>
<dt>LIBMF: A Library for Parallel Matrix Factorization in Shared-memory Systems</dt>
<dd><b><i>Wei-Sheng Chin, Bo-Wen Yuan, Meng-Yuan Yang, Yong Zhuang, Yu-Chin Juan, Chih-Jen Lin</i></b>; 17(86):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-471.html'>abs</a>][<a target=_blank href='/papers/volume17/15-471/15-471.pdf'>pdf</a>][<a href="/papers/v17/15-471.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://www.csie.ntu.edu.tw/~cjlin/libmf/">code</a>][<a href="https://www.csie.ntu.edu.tw/~cjlin/libmf/">ntu.edu.tw</a>]</dl>
</p>


<p>
<dl>
<dt>JCLAL: A Java Framework for Active Learning</dt>
<dd><b><i>Oscar Reyes, Eduardo Pérez, María del Carmen Rodríguez-Hernández, Habib M. Fardoun, Sebastián  Ventura</i></b>; 17(95):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-347.html'>abs</a>][<a target=_blank href='/papers/volume17/15-347/15-347.pdf'>pdf</a>][<a href="/papers/v17/15-347.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://sourceforge.net/projects/jclal/">code</a>][<a href="https://sourceforge.net/projects/jclal/">sourceforge</a>]</dl>
</p>


<p>
<dl>
<dt>The LRP Toolbox for Artificial Neural Networks</dt>
<dd><b><i>Sebastian Lapuschkin, Alexander Binder, Grégoire Montavon, Klaus-Robert Müller, Wojciech Samek</i></b>; 17(114):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-618.html'>abs</a>][<a target=_blank href='/papers/volume17/15-618/15-618.pdf'>pdf</a>][<a href="/papers/v17/15-618.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://www.heatmapping.org/lrptoolbox.html">code</a>][<a href="http://www.heatmapping.org/lrptoolbox.html">heatmapping.org</a>]</dl>
</p>



<p>
<dl>
<dt>Pymanopt: A Python Toolbox for Optimization on Manifolds using Automatic Differentiation</dt>
<dd><b><i>James Townsend, Niklas Koep, Sebastian Weichwald</i></b>; 17(137):1&minus;5, 2016.
<br>[<a href='/papers/v17/16-177.html'>abs</a>][<a target=_blank href='/papers/volume17/16-177/16-177.pdf'>pdf</a>][<a href="/papers/v17/16-177.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://pymanopt.github.io/">code</a>][<a href="http://pymanopt.github.io/">github</a>]</dl>
</p>



<p>
<dl>
<dt>Megaman: Scalable Manifold Learning in Python</dt>
<dd><b><i>James McQueen, Marina Meilă, Jacob VanderPlas, Zhongyue Zhang</i></b>; 17(148):1&minus;5, 2016.
<br>[<a href='/papers/v17/16-109.html'>abs</a>][<a target=_blank href='/papers/volume17/16-109/16-109.pdf'>pdf</a>][<a href="/papers/v17/16-109.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/mmp2/megaman">code</a>][<a href="http://mmp2.github.io/megaman/">github</a>]</dl>
</p>


<p>
<dl>
<dt>mlr: Machine Learning in R</dt>
<dd><b><i>Bernd Bischl, Michel Lang, Lars Kotthoff, Julia Schiffner, Jakob Richter, Erich Studerus, Giuseppe Casalicchio, Zachary M. Jones</i></b>; 17(170):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-066.html'>abs</a>][<a target=_blank href='/papers/volume17/15-066/15-066.pdf'>pdf</a>][<a href="/papers/v17/15-066.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/mlr-org/mlr">code</a>][<a href="https://github.com/mlr-org/mlr">github</a>]</dl>
</p>


<p>
<dl>
<dt>bandicoot: a Python Toolbox for Mobile Phone Metadata</dt>
<dd><b><i>Yves-Alexandre de Montjoye, Luc Rocher, Alex Sandy Pentland</i></b>; 17(175):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-593.html'>abs</a>][<a target=_blank href='/papers/volume17/15-593/15-593.pdf'>pdf</a>][<a href="/papers/v17/15-593.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/yvesalexandre/bandicoot">code</a>][<a href="http://bandicoot.mit.edu">mit.edu</a>]</dl>
</p>

<p>
<dl>
<dt>fastFM: A Library for Factorization Machines</dt>
<dd><b><i>Immanuel Bayer</i></b>; 17(184):1&minus;5, 2016.
<br>[<a href='/papers/v17/15-355.html'>abs</a>][<a target=_blank href='/papers/volume17/15-355/15-355.pdf'>pdf</a>][<a href="/papers/v17/15-355.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/ibayer/fastFM">code</a>][<a href="http://ibayer.github.io/fastFM/">github</a>]</dl>
</p>


<p>
<dl>
<dt>RLScore: Regularized Least-Squares Learners</dt>
<dd><b><i>Tapio Pahikkala, Antti Airola</i></b>; 17(221):1&minus;5, 2016.
<br>[<a href='/papers/v17/16-470.html'>abs</a>][<a target=_blank href='/papers/volume17/16-470/16-470.pdf'>pdf</a>][<a href="/papers/v17/16-470.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/aatapa/RLScore">code</a>][<a href="http://staff.cs.utu.fi/~aatapa/software/RLScore/">cs.utu.fi</a>]</dl>
</p>


<p>
<dl>
<dt>SnapVX: A Network-Based Convex Optimization Solver</dt>
<dd><b><i>David Hallac, Christopher Wong, Steven Diamond, Abhijit Sharang, Rok Sosič, Stephen Boyd, Jure Leskovec</i></b>; 18(4):1&minus;5, 2017.
<br>[<a href='/papers/v18/15-492.html'>abs</a>][<a target=_blank href='/papers/volume18/15-492/15-492.pdf'>pdf</a>][<a href="/papers/v18/15-492.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="http://snap.stanford.edu/snapvx/#install">code</a>][<a href="http://snap.stanford.edu/snapvx/">stanford.edu</a>]</dl>
</p>


<p>
<dl>
<dt>Refinery: An Open Source Topic Modeling Web Platform</dt>
<dd><b><i>Daeil Kim, Benjamin F. Swanson, Michael C. Hughes, Erik B. Sudderth</i></b>; 18(12):1&minus;5, 2017.
<br>[<a href='/papers/v18/15-441.html'>abs</a>][<a target=_blank href='/papers/volume18/15-441/15-441.pdf'>pdf</a>][<a href="/papers/v18/15-441.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/daeilkim/refinery">code</a>][<a href="http://daeilkim.github.io/refinery/">github</a>]</dl>
</p>


<p>
<dl>
<dt>Imbalanced-learn: A Python Toolbox to Tackle the Curse of Imbalanced Datasets in Machine Learning</dt>
<dd><b><i>Guillaume  Lemaître, Fernando Nogueira, Christos K. Aridas</i></b>; 18(17):1&minus;5, 2017.
<br>[<a href='/papers/v18/16-365.html'>abs</a>][<a target=_blank href='/papers/volume18/16-365/16-365.pdf'>pdf</a>][<a href="/papers/v18/16-365.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/scikit-learn-contrib/imbalanced-learn">code</a>][<a href="http://contrib.scikit-learn.org/imbalanced-learn/">contrib.scikit-learn.org</a>]</dl>
</p>



<p>
<dl>
<dt>JSAT: Java Statistical Analysis Tool, a Library for Machine Learning</dt>
<dd><b><i>Edward Raff</i></b>; 18(23):1&minus;5, 2017.
<br>[<a href='/papers/v18/16-131.html'>abs</a>][<a target=_blank href='/papers/volume18/16-131/16-131.pdf'>pdf</a>][<a href="/papers/v18/16-131.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/EdwardRaff/JSAT">code</a>][<a href="https://github.com/EdwardRaff/JSAT">github</a>]</dl>
</p>


<p>
<dl>
<dt>Auto-WEKA 2.0: Automatic model selection and hyperparameter optimization in WEKA</dt>
<dd><b><i>Lars Kotthoff, Chris Thornton, Holger H. Hoos, Frank Hutter, Kevin Leyton-Brown</i></b>; 18(25):1&minus;5, 2017.
<br>[<a href='/papers/v18/16-261.html'>abs</a>][<a target=_blank href='/papers/volume18/16-261/16-261.pdf'>pdf</a>][<a href="/papers/v18/16-261.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/automl/autoweka">code</a>][<a href="http://www.cs.ubc.ca/labs/beta/Projects/autoweka/">ubc.ca</a>]</dl>
</p>


<p>
<dl>
<dt>POMDPs.jl: A Framework for Sequential Decision Making under Uncertainty</dt>
<dd><b><i>Maxim Egorov, Zachary N. Sunberg, Edward Balaban, Tim A. Wheeler, Jayesh K. Gupta, Mykel J. Kochenderfer</i></b>; 18(26):1&minus;5, 2017.
<br>[<a href='/papers/v18/16-300.html'>abs</a>][<a target=_blank href='/papers/volume18/16-300/16-300.pdf'>pdf</a>][<a href="/papers/v18/16-300.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/JuliaPOMDP/POMDPs.jl">code</a>][<a href="http://juliapomdp.github.io/">github</a>]</dl>
</p>

<p>
<dl>
<dt>GFA: Exploratory Analysis of Multiple Data Sources with Group Factor Analysis</dt>
<dd><b><i>Eemeli Leppäaho, Muhammad Ammad-ud-din, Samuel Kaski</i></b>; 18(39):1&minus;5, 2017.
<br>[<a href='/papers/v18/16-509.html'>abs</a>][<a target=_blank href='/papers/volume18/16-509/16-509.pdf'>pdf</a>][<a href="/papers/v18/16-509.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://cran.r-project.org/web/packages/GFA/index.html">code</a>][<a href="https://cran.r-project.org/web/packages/GFA/index.html">r-project.org</a>]</dl>
</p>



<p>
<dl>
<dt>GPflow: A Gaussian Process Library using TensorFlow</dt>
<dd><b><i>Alexander G. de G. Matthews, Mark van der Wilk, Tom Nickson, Keisuke Fujii, Alexis Boukouvalas, Pablo León-Villagrá, Zoubin Ghahramani, James Hensman</i></b>; 18(40):1&minus;6, 2017.
<br>[<a href='/papers/v18/16-537.html'>abs</a>][<a target=_blank href='/papers/volume18/16-537/16-537.pdf'>pdf</a>][<a href="/papers/v18/16-537.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/GPflow/GPflow">code</a>][<a href="https://github.com/GPflow/GPflow">github</a>]</dl>
</p>

<p>
<dl>
<dt>The MADP Toolbox: An Open Source Library for Planning and Learning in (Multi-)Agent Systems</dt>
<dd><b><i>Frans A. Oliehoek, Matthijs T. J. Spaan, Bas Terwijn, Philipp Robbel, João V. Messias</i></b>; 18(89):1&minus;5, 2017.
<br>[<a href='/papers/v18/17-156.html'>abs</a>][<a target=_blank href='/papers/volume18/17-156/17-156.pdf'>pdf</a>][<a href="/papers/v18/17-156.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/MADPToolbox/MADP">code</a>][<a href="https://github.com/MADPToolbox/MADP">github</a>]</dl>
</p>


<p>
<dl>
<dt>openXBOW -- Introducing the Passau Open-Source Crossmodal Bag-of-Words Toolkit</dt>
<dd><b><i>Maximilian Schmitt, Björn Schuller</i></b>; 18(96):1&minus;5, 2017.
<br>[<a href='/papers/v18/17-113.html'>abs</a>][<a target=_blank href='/papers/volume18/17-113/17-113.pdf'>pdf</a>][<a href="/papers/v18/17-113.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/openXBOW/openXBOW">code</a>][<a href="https://github.com/openXBOW/openXBOW">github</a>]</dl>
</p>



<p>
<dl>
<dt>HyperTools: a Python Toolbox for Gaining Geometric Insights into High-Dimensional Data</dt>
<dd><b><i>Andrew C. Heusser, Kirsten Ziman, Lucy L. W. Owen, Jeremy R. Manning</i></b>; 18(152):1&minus;6, 2018.
<br>[<a href='/papers/v18/17-434.html'>abs</a>][<a target=_blank href='/papers/volume18/17-434/17-434.pdf'>pdf</a>][<a href="/papers/v18/17-434.bib">bib</a>]&#160;&#160;&#160;&#160; [<a href="https://github.com/ContextLab/hypertools">code</a>][<a href="http://hypertools.readthedocs.io/en/latest/">readthedocs.io</a>]</dl>
</p>


<p>
<dl>
<dt>pomegranate: Fast and Flexible Probabilistic Modeling in Python</dt>
<dd><b><i>Jacob Schreiber</i></b>; 18(164):1&minus;6, 2018.
<br>[<a href='/papers/v18/17-636.html'>abs</a>][<a target=_blank href='/papers/volume18/17-636/17-636.pdf'>pdf</a>][<a href="/papers/v18/17-636.bib">bib</a>]
&#160;&#160;&#160;&#160;[<a href="https://github.com/jmschrei/pomegranate">code</a>][<a href="http://pomegranate.readthedocs.io/en/latest/">readthedocs.io</a>]</dl>
</p>

<p>
<dl>
<dt>auDeep: Unsupervised Learning of Representations from Audio with Deep Recurrent Neural Networks</dt>
<dd><b><i>Michael Freitag, Shahin Amiriparian, Sergey Pugachevskiy, Nicholas Cummins, Björn Schuller</i></b>; 18(173):1&minus;5, 2018.
<br>[<a href='/papers/v18/17-406.html'>abs</a>][<a target=_blank href='/papers/volume18/17-406/17-406.pdf'>pdf</a>][<a href="/papers/v18/17-406.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/auDeep/auDeep">code</a>]</dl>
</p>


<p>
<dl>
<dt>Pycobra: A Python Toolbox for Ensemble Learning and Visualisation</dt>
<dd><b><i>Benjamin Guedj, Bhargav Srinivasa Desikan</i></b>; 18(190):1&minus;5, 2018.
<br>[<a href='/papers/v18/17-228.html'>abs</a>][<a target=_blank href='/papers/volume18/17-228/17-228.pdf'>pdf</a>][<a href="/papers/v18/17-228.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/bhargavvader/pycobra">github.com</a>][<a href="https://modal.lille.inria.fr/pycobra">inria.fr</a>]</dl>
</p>

<p>
<dl>
<dt>KELP: a Kernel-based Learning Platform</dt>
<dd><b><i>Simone Filice, Giuseppe Castellucci, Giovanni Da San Martino, Alessandro Moschitti, Danilo Croce, Roberto Basili</i></b>; 18(191):1&minus;5, 2018.
<br>[<a href='/papers/v18/16-087.html'>abs</a>][<a target=_blank href='/papers/volume18/16-087/16-087.pdf'>pdf</a>][<a href="/papers/v18/16-087.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/SAG-KeLP">github.com</a>][<a href="http://www.kelp-ml.org/">kelp-ml.org</a>]</dl>
</p>


<p>
<dl>
<dt>tick: a Python Library for Statistical Learning, with an emphasis on Hawkes Processes and Time-Dependent Models</dt>
<dd><b><i>Emmanuel Bacry, Martin Bompaire, Philip Deegan, Stéphane Gaïffas, Søren V. Poulsen</i></b>; 18(214):1&minus;5, 2018.
<br>[<a href='/papers/v18/17-381.html'>abs</a>][<a target=_blank href='/papers/volume18/17-381/17-381.pdf'>pdf</a>][<a href="/papers/v18/17-381.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/X-DataInitiative/tick">github.com</a>][<a href="https://x-datainitiative.github.io/tick/">x-datainitiative.github.io</a>]</dl>
</p>


<p>
<dl>
<dt>SGDLibrary: A MATLAB library for stochastic optimization algorithms</dt>
<dd><b><i>Hiroyuki Kasai</i></b>; 18(215):1&minus;5, 2018.
<br>[<a href='/papers/v18/17-632.html'>abs</a>][<a target=_blank href='/papers/volume18/17-632/17-632.pdf'>pdf</a>][<a href="/papers/v18/17-632.bib">bib</a>]&#160;&#160;&#160;&#160;[<a href="https://github.com/hiroyuki-kasai/SGDLibrary">github.com</a>]</dl>
</p>

{%for info_list in list_info_mloss %}
{%for paper in info_list %}
<p>
<dl>
<dt>{{paper.title}}</dt>
<dd><b><i>{{paper.authors_string}}</i></b>; {{paper.vol}}({{paper.issue}}):{{paper.pages[0]}}&minus;{{paper.pages[1]}}, {{paper.year}}.
<br>[<a href='/papers/v{{paper.volume}}/{{paper.id}}.html'>abs</a>][<a target=_blank href='/papers/volume{{paper.volume}}/{{paper.id}}/{{paper.id}}.pdf'>pdf</a>][<a href="/papers/v{{paper.volume}}/{{paper.id}}.bib">bib</a>]
{% if paper.extra_links %}
&nbsp;&nbsp;&nbsp;&nbsp;
{% for link in paper.extra_links %}
 [<a href="{{link[1]}}">{{link[0]}}</a>]
{% endfor %}
{% endif %}
</dl>
</p>
{% endfor %}
{% endfor %}

</div>
 <!--#include virtual="/nav-bar.txt"-->
  </body>
 </html>
