
{% extends "base.html" %}

{% block content %}

<h1>
Machine Learning Open Source Software
</h1>
<p>
Open source tools have recently reached a level of maturity which
makes them suitable for building large-scale real-world systems. At
the same time, the field of machine learning has developed a large
body of powerful learning algorithms for a wide range of applications.
</p><p>
JMLR is proud to support the open source movement by having a track on open
source software in machine learning. The aim of this special section is to
provide, in parallel to theoretical advances in machine learning, a venue for
collection and dissemination of open source software. Having a resource of peer
reviewed software accompanied by short articles allows to build a common
repository of high quality machine learning software that are endorsed by the
ML research community.
</p><p>
We encourage submissions which are contributions related to
implementations of non-trivial machine learning algorithms, toolboxes
or even languages for scientific computing. The software
must adhere to a recognised open source license
(<a href="http://www.opensource.org/licenses/">http://www.opensource.org/licenses/</a>).
Evidence of an active user community should be demonstrated in the cover
letter by, for example, number of active developers, number of stars on github
or similar metrics. As with the main JMLR papers, all published papers are
freely available online. Submissions should clearly indicate that they are
intended for this special track in the cover letter of the submission.</p>

<p>
Since we specifically want to honor the effort of turning a method
into a highly usable piece of software, prior publication of the
method is admissible, as long as the software has not been published
elsewhere.  If the software has been the main content of a paper
appearing in a peer reviewed conference or journal, then there should
be a document in the code repository (referred to in the cover letter
of the submission), listing the software package's improvements and
extensions.  It is hoped that the open source track will motivate the
machine learning community towards open science, where open access
publishing, open data standards and open source software foster
research progress.
</p>

<h3>Format</h3>

We invite submissions of descriptions of high quality machine learning
open source software implementations. Submissions should at least
include:
<ol>
<li> A cover letter stating that the submission is intended for the machine
    learning open source software section, the open source license the software
    is released under, the web address of the project, the software version to
    be reviewed, and evidence of an active user community. It is particularly
    appreciated if it includes suggestions of possible reviewers, explaining
    briefly why they are relevant to your work.
</li><li> An up to four page description based on the JMLR format, with additional pages for references.
</li><li> A zip or compressed tar-archive file containing the source code and documentation in addition to an optional link to a code repository.
</li></ol>

<h3>Submission checklist</h3>
<ol>
<li> Ensure the submitted code compiles and runs on all your supported
platforms.
</li><li> Ensure the licensing terms of all included components comply with the open
source definition and are clearly stated in the source package and mentioned
in each source file.
</li><li> Ensure the source package contains no extra files, such as version control
system files or '._' property files. (Remember that some of these may not be
visible on your own platform.)
</li>
</ol>

<h3>Review Criteria</h3>

The following guidelines would be used to review submissions. While
ideally submissions should satisfy all the criteria below, they are
not necessary requirements.

<h4>The four page summary</h4>
<ol>
    <li> The quality of the four page description.</li>
</ol>

<h4>The impact on the machine learning community</h4>
<ol>
<li> The novelty, breadth, and significance of the contribution.
</li><li> Evidence of an active user community (documented in the cover letter, not the paper).
</li><li> The openness of the project, such as a public source code repository,
bug tracker, mailing list/forum, that allows new developers to participate
and contribute.
</li><li> The quality of comparison to previous (if any) related
    implementations, w.r.t. run-time, memory requirements, features, to explain
    that significant progress has been made. 
</li>
</ol>

<h4>User documentation</h3>
<p>In assessing the documentation, reviewers should consider presence and quality of:</p>
<ol>
<li>Installation instructions</li>
<li>Tutorials to show simple use-cases and on-board new users.</li>
<li>Non-trival examples of typical use-cases of the software.</li>
<li>Full documentation of the API.
Reviewers should also consider how easy it is to view the documentation, for example
whether it is available as a website, or requires building documentation locally to view it.</li>
</ol>

<h4>Openness to new developers / Ease of contribution / Sustainability</h3>
<ol>
<li>How easy is it for new contributors to participate / contribute.</li>
<li>The clarity of software design.</li>
<li>The quality of the developer documentation (should enable easy modification and extension of the software, provide an API reference)</li>
</ol>
<h4>Implementation and adoption of software development best practices</h3>
<ol>
<li>Extensive unit and integration testing, and report of code coverage of tests. It is expected that test coverage is close to 100%.</li>
<li>Continuous integration, ideally on all supported platforms and with multiple versions of potential dependencies.</li>
<li>The breadth of platforms it can be used on (should include an open-source operating system).</li>
<li>The freedom of the code (lack of dependence on proprietary software).</li>
</ol>


<h3>Accepted Papers</h3>

After acceptance, the abstract including the link to the software
project website, the four page description and the reviewed version of
the software will be published on the JMLR-MLOSS website
<a href="http://www.jmlr.org/mloss">http://www.jmlr.org/mloss</a>.
The authors can then make sure
that the software is appropriately maintained and that the link to the
project website is kept up-to-date.

When preparing this information, follow the JMLR <a href="http://jmlr.csail.mit.edu/final_copy.html">instructions</a>
 for formatting final sumbmissions.   In addition to the LaTeX source,
MLOSS authors must submit an single file containing an archive of the
source code that will be published on the JMLR website.  This file
should be named according to the JMLR author conventions, for example <i>jones03a-code.tar.gz</i>.

<p>
<table width="100%">
<tbody><tr>
<td align="right"><font size="-1">Copyright ? <a target="_top" href="http://www.jmlr.org/">JMLR</a> 2007.  All
rights reserved.</font></td>
</tr>
</tbody></table>

</p></div>
 <div id="fixed">
<br>
<a align="right" href="http://www.jmlr.org/" target="_top"><img class="jmlr" src="http://jmlr.csail.mit.edu/jmlr.jpg" align="right" border="0"></a>

<p><br><br>
</p><p align="right"> <a href="http://www.jmlr.org/"> Home Page </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/papers"> Papers </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/author-info.html"> Submissions </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/news.html"> News </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/scope.html"> Scope </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/editorial-board.html"> Editorial Board </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/announcements.html"> Announcements </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/proceedings"> Proceedings </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/mloss">Open Source Software</a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/search-jmlr.html"> Search </a>

</p><p align="right"> <a href="http://jmlr.csail.mit.edu/manudb"> Login </a></p>

<br><br>
<p align="right"> <a href="http://jmlr.csail.mit.edu/jmlr.xml">
<img src="http://jmlr.csail.mit.edu/RSS.gif" class="rss" alt="RSS Feed">
</a>



</p>

{% endblock %}