{% extends "base.html" %}

{% block content %}

<h1>Frequently Asked Questions</h1>


<h2>General</h2>

<b>Q: I've forgotten my password. What should I do?</b><br>
<b>A</b>: You can go to <a
    href="http://www.jmlr.org/manudb/resetpasswd">http://www.jmlr.org/manudb/resetpasswd</a>
and enter your e-mail address. Your username and a new password
will be e-mailed to you for immediate use. If this does not work
for you, send e-mail to the managing editors <a
    href="mailto:managing@jmlr.org">managing@jmlr.org</a>
<p>
    <b>Q: I can't find a manuscript I'm supposed to be able to see. What happened?</b><br>
    <b>A</b>: To see the list of manuscripts, select "manuscript listing" from the main
    center. From there, make sure you select the correct "connection."
    Pick "author" if you are looking for a paper you authored. Select
    "reviewer" if you are looking for a paper you reviewed. For "author"
    and "reviewer" the default filter is "all" which means you should see
    all of your authored or reviewed manuscripts listed along the left side
    (if you are an action editor, then you will only see pending manuscripts,
    select "all" or "decided" to view finished manuscripts). If you don't see
    the tag of the manuscript you are looking for, make sure the "manuscript
    status" filter is set to "all" and select "refilter." You can also type
    the tag directly into the text box in the upper right and select "find."
    If the tag you are looking for isn't the only one listing on the left,
    you will need to select the tag of the corresponding manuscript. That will
    bring up all of the manuscript's details in the center of the web page.
<p>



<h2>Authors</h2>


<p>
    <b>Q: How long will it take to review my paper?</b><br>
    <b>A:</b> The time needed to review a paper varies from paper to paper and JMLR does not
    guarantee that it will make a decision in a given period of time. The current average time to
    decision is around 3 months, see the <a href="https://www.jmlr.org/stats.html">statistics</a>
    section of the webpage for the most recent statistics.
</p>


<p>
    <b>Q: What's the status of my manuscript?</b><br>
    <b>A</b>: Please address any inquiries about the status of a paper under review to the Action
    Editor in charge of your paper. The name of your action editor will appear in the submission
    system once its assigned, which should happen no later than once month after submission.
</p>

<b>Q: How do I submit a manuscript?</b><br>
<b>A</b>: If you do not have an account, <a href="http://jmlr.csail.mit.edu/manudb/newuser">register
    for
    one</a>. Any co-authors who would like to view the reviews and
decision online will also need to register for an account. Then <a
    href="http://www.jmlr.org/manudb/center/">log in</a> and select "submit
manuscript" from the top. You should then enter in the title of
the manuscript and the authors who wish to see the manuscript online.
Finally select the manuscript's file and select "submit." Manuscripts
should be submitted in PDF format.
<p>
    <b>Q: What if I need to submit multiple files?</b><br>
    <b>A</b>: You may submit multiple files on the submission page.
    Replies to prior reviews can be submitted
    this way. For each additional document, you
    may select whether reviewers can see it.
<p>
    <b>Q: How do I submit a revision?</b><br>
    <b>A</b>: You should submit a revised manuscript only if the action editor has specifically
    encouraged you to submit a revised manuscript. (If in doubt, please consult the action editor
    immediately after receiving your reviews.) If the action editor has encouraged a revised
    manuscript, then go to the manuscript listing for the manuscript you wish to revise. Use this
    page (as a normal submission) to submit your revision. It will automatically get linked in as a
    revision of the previous manuscript.
<p>
    <b>Q: How can I view the decision and reviews for my manuscript?</b><br>
    <b>A</b>: Go to the manuscript listing for the manuscript you wish
    view. If the reviewing process is complete, there will be "download" links for each of the
    reviews and the decision.
</p>
<p><b>Q: Is my paper within the scope of the journal?</b>
    <b>A:</b> See the <a href="https://www.jmlr.org/author-info.html#Scope">journal
        scope</a>.
</p>
<p><b>Q: I would like to make a pre-submission inquiry to determine if my paper is a good
        fit.</b><br>
    <b>A:</b> As a policy, JMLR does not respond to pre-submission inquiries. If
    you believe your manuscript is in-scope for the journal, please submit
    it.
</p>

<h2>Reviewers</h2>
<p>
    <b>Q: I received an e-mail requesting I review a manuscript. However, I do not have an
        account?</b><br>
    <b>A</b>: In the e-mail, there should be a longish URL. If you use that
    URL, you do not need an account. If you wish for an account (so that all
    of your reviews will be under a common interface, for example), you
    can <a href="http://jmlr.csail.mit.edu/manudb/newuser">register</a>
    for an account using the same e-mail address to which the request was sent.
    Then you can <a href="http://www.jmlr.org/manudb/center/">log in</a>,
    view the manuscript, and give a response (whether or not you are willing
    to review).
<p>
    <b>Q: I have an account and have been asked to review a manuscript. What do I do now?</b><br>
    <b>A</b>: The longish URL given in the e-mail address will take you
    directly to the review and does not require you to log in. However,
    if you wish, you can <a href="http://www.jmlr.org/manudb/center/">log in</a>
    and select "Manuscript Listing" followed by "Reviewer." You should then
    see a list of all manuscripts you have reviewed. You can select "new"
    (from the manuscript status filter) and select "refilter" to view only
    the new manuscript. Selecting the manuscript's tag number on the left
    will bring up the details on the mansucript. You can download the
    manuscript and decide whether or not you can review it. Once you've
    made your decision, please select "yes" or "no" under the reply section
    of the manuscript listing.
<p>
    <b>Q: I am receiving reminders about a manuscript I already declined to review. Why?</b><br>
    <b>A</b>: Most likely, you replied to the e-mail which requested your
    reviewing services, but did not go to the website to enter your "yes" or "no"
    reply. The action editor who requested you as a reviewer received your e-mail
    but forgot (or has not yet had a chance) to update the website. You have two
    options: 1. go to the web site (as per the instructions in the original
    e-mail) and select "yes" or "no" indicating your willingness to review.
    2. send another e-mail to the action editor requesting that he/she do
    the same on your behalf.
</p>
<p>
    <b>Q: How do I submit a revision?</b><br>
    <b>A</b>: Go to the manuscript listing (just as before). Select (if
    necessary) the manuscript's tag from the left side. Then select the
    "submit review" link. You can
    also enter in a "private comments" file to be seen only by the editor.
    Press "submit" and you are done.
</p>

<h2>Action Editors</h2>
<p>
    <b>Q: I have already requested a reviewer via e-mail (outside of the system). What should I
        do?</b><br>
    <b>A</b>: You should definitely update the online database to reflect this.
    It is important to keep the database up-to-date, so that the chief,
    managing, and production editors know the true status of the manuscript.
    To do this, go to the manuscript's listing ("Manuscript Listing" and then
    "Action Editor" and select the corresponding tag number). Request this
    reviewer as normal. However, select "Request, do not send e-mail."
    Then, return to the manuscript listing and select "show" (under reviews)
    and select "yes" (under force reply for this reviewer). The database
    will now have the correct information.
</p>
<p>
    <b>Q: A reviewer sent me his or her review via e-mail and did not enter it into the system. What
        should I do?</b></br>
    <b>A:</b>: Enter the review into the system manually. As with the previous
    question, it is important to keep the online database correct. Go to the
    manuscript's listing and select "submit review" next to the review's name.
    You can then submit the review on the reviewer's behalf.
</p>
<p>
    <b>Q: I just sent the authors their decision via e-mail. Do I need to enter it into the online
        system?</b><br>
    <b>A</b>: Yes! Please keep the system up-to-date. After entering
    the decision, you will come to a page to send the authors an e-mail.
    As you have already e-mailed them, simply select "do not send e-mail"
    at the bottom.
</p>
<p>
    <b>Q: A reviewer agreed to do the review, but needs extra time. What should I do?</b><br>
    <b>A</b>: <em>Please</em>, go to the manuscript's listing and edit the
    due date for that reviewer. Otherwise, he or she will receive annoying
    e-mail from the manuscript tracking system bothering him or her for not turning in the
    review on time.
</p>
<p>
    <b>Q: I just received an e-mail reminder about a manuscript which has
        already been taken care of. How do I prevent further such annoying
        reminders?</b><br>
    <b>A</b>: If you can, add the missing information (review request,
    review, decision). If you already have it outside of the system, see the
    above questions for how to enter it. If you cannot, or the manuscript's
    status online is wrong, contact the managing editor
    (managing@jmlr.org).
</p>

<p>
    <b>What are the reviewer guidelines of JMLR?</b><br>
    <b>A</b>: see <a href="https://www.jmlr.org/reviewer-guide.html">https://www.jmlr.org/reviewer-guide.html</a>.
</p>

{% endblock %}
