{% extends "base.html" %}

{% block content %}

<h1><img src="/img/jmlr.jpg" style="padding-right: 10px; margin: 10px 0 5px 10px; width: 110px; float: left;" alt=""> Journal of Machine Learning Research</h1>

<p>
The Journal of Machine Learning Research (JMLR), <a href="http://jmlr.org/history.html">established in 2000</a>, provides an
international forum for the electronic and paper publication of
high-quality scholarly articles in all areas of machine learning.  
All published papers are freely available online.
</p>

<h2>News</h2>
<ul>
    <li><i>2024.02.18</i>: <a href="/papers/v24">Volume 24</a> completed; <a href="/papers/v25">Volume 25</a> began. </li>
    <li><i>2023.01.20</i>: <a href="/papers/v23">Volume 23</a> completed; <a href="/papers/v24">Volume 24</a> began. </li>
    <li><i>2022.07.20</i>: New <a href="/special_issues/climate_change.html">special issue on climate change</a>.</li>
    <li><i>2022.02.18</i>: New blog post: <a href="/news/2022/retrospectives.html">Retrospectives from 20 Years of JMLR
    </a>. </li>
    <li><i>2022.01.25</i>: <a href="/papers/v22">Volume 22</a> completed; <a href="/papers/v23">Volume 23</a> began. </li>
    <li><i>2021.12.02</i>: <a href="news/2021/schoelkopf-retirement.html">Message from outgoing co-EiC Bernhard Schölkopf</a>. </li>
    <li><i>2021.02.10</i>: <a href="/papers/v21">Volume 21</a> completed; <a href="/papers/v22">Volume 22</a> began. </li>
    <li><a href="/news.html">More news ...</a></li>
</ul>
  


<h2>Latest papers</h2>

<ul class="list-papers list-group list-group-flush">
    {%for paper in info_list %}
    <li class="list-group-item">
        <h4><a class="paper-title darkblue" href="{{base_url}}/papers/v{{paper.volume}}/{{paper.id}}.html">{{paper.title_html|safe}}</a></h4>
        <p><i>{{paper.authors_string}}</i>, {{paper.year}} 
        </p>
    </li>
    {% endfor %}
    <li class="list-group-item"><a href="{{base_url}}/papers/">See more</a></li>
</ul>
{% endblock %}


{% block sidebar %}
<img align="left" class="jmlr" src="/img/jmlr.jpg" border="0">
{% endblock %}
