{% extends "base.html" %}

{% block content %}
<table width="100%" cellspacing="0" cellpadding="0"> <tr> <td
valign="top" align="left"> 

<h1>Journal of Machine Learning Research</h1>

<p>
The Journal of Machine Learning Research (JMLR) provides an
international forum for the electronic and paper publication of
high-quality scholarly articles in all areas of machine learning.  
All published papers are freely available online.
</p>

<p>
JMLR has a commitment to rigorous yet rapid reviewing. Final versions
are <a href="papers"> published electronically</a> (ISSN 1533-7928)
immediately upon receipt.  Until the end of 2004, paper volumes (ISSN
1532-4435) were published 8 times annually and sold to libraries and
individuals by the MIT Press.
                                                                                      
Paper volumes (ISSN 1532-4435) are now published and sold by 
<a href="http://www.mtome.com/">Microtome Publishing</a>.  <p>
                                                                                      
<h2>News</h2>
<ul>
    <li><i>2018.08.28</i>: <a href=papers/v18>Volume 18</a> completed; <a href=papers/v19>Volume 19</a> began. </li>
    <li><i>2018.04.16</i>: <a href="/news-archive/20180416-changes.html">Changes</a> in JMLR leadership team.</li>
    <li><i>2016.12.01</i>: <a href="papers/topic/2016-Learning-from-Electronic-Health-Data.html">Special topic on Learning from Electronic Health Data</a></li>
    <li><i>2015.09.01</i>: <a href="papers/special/chervonenkis15.html">Special issue in Memory of Alexey Chervonenkis</a>.</li>
</ul>
</td> 
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td valign="top" align="center"> 
<a href="http://www.mtome.com/Publications/JMLR/jmlr.html">
<img src="/images/jmlr-v5.png" width="140" border="0"></a> 
<p> <a href="http://www.arl.org/sparc">
<img src="/images/Sparc7.gif" border="0" width=100></a> 

</td> </tr> </table> 
{% endblock %}
