{% extends "base.html" %}

{% block content %}

<h1><img src="/img/jmlr.jpg" style="padding-right: 10px; margin: 10px 0 5px 10px; width: 110px; float: left;" alt=""> Journal of Machine Learning Research</h1>

<p>
The Journal of Machine Learning Research (JMLR), <a href="http://jmlr.org/history.html">established in 2000</a>, provides an
international forum for the electronic and paper publication of
high-quality scholarly articles in all areas of machine learning.  
All published papers are freely available online.
</p>

<h2>Latest papers</h2>

<ul class="list-papers list-group list-group-flush">
    {%for paper in info_list %}
    <li class="list-group-item">
        <h4><a class="paper-title darkblue" href="{{base_url}}/papers/v{{paper.volume}}/{{paper.id}}.html">{{paper.title_html|safe}}</a></h4>
        <p><i>{{paper.authors_string}}</i>, {{paper.year}} 
        </p>
    </li>
    {% endfor %}
    <li class="list-group-item"><a href="{{base_url}}/papers/">See more</a></li>
</ul>
{% endblock %}


{% block sidebar %}
<img align="left" class="jmlr" src="/img/jmlr.jpg" border="0">
{% endblock %}
