{% extends "base.html" %}

{% block content %}
 <div id="content">
<h1>JMLR News</h1>
<ul>
  <li><a href=papers/v18>Volume 18</a> completed; <a href=papers/v19>Volume 19</a> began. </li>
  <li><a href="/news-archive/20180416-changes.html">Changes</a> in JMLR leadership team.</li>
<li><a href=papers/v17>Volume 17</a> completed; <a href=papers/v18>Volume 18</a> began. </li>
<li><a href=papers/v16>Volume 16</a> completed; <a href=papers/v17>Volume 17</a> began. </li>
<li><a href=papers/v15>Volume 15</a> completed; <a href=papers/v16>Volume 16</a> began. </li>
<li><a href=papers/v14>Volume 14</a> completed; <a href=papers/v15>Volume 15</a> began. </li>
<li>Welcome our <a href="/news-archive/20130325-new-EIC.html">new Co-Editors-in-Chief Kevin Murphy and Bernhard Schoelkopf</a>.</li>
<li><a href=papers/v13>Volume 13</a> completed; <a href=papers/v14>Volume 14</a> began. </li>
<li><a href=papers/v12>Volume 12</a> completed; <a href=papers/v13>Volume 13</a> began. </li>
<li><a href=papers/v11>Volume 11</a> completed; <a href=papers/v12>Volume 12</a> began. </li>
<li><a href=papers/v10>Volume 10</a> completed; <a href=papers/v11>Volume 11</a> began. </li>
<li><a href=papers/v9>Volume 9</a> completed; <a href=papers/v10>Volume 10</a> began. </li>
<li><a href=papers/v8>Volume 8</a> completed; <a href=papers/v9>Volume 9</a> began. </li>
<li><a href="http://www.lri.fr/~teytaud/cfpmsht.html">Call for papers</a> for special topic on Multiple Simultaneous Hypothesis Testing.  </li>
<li>JMLR adopts changes to the <a href="/author-info.html#Reviewing">review process</a> to help maintain a rapid response time.</li>
<li><a href="http://www.dsi.unifi.it/~paolo/JMLR08/">Call for papers</a> for special topic on Mining and Learning with Graphs and Relations.  </li>
<li> JMLR will publish <a href="/mloss">machine learning open source software</a>. </li>
<li><a href="http://discover.mc.vanderbilt.edu/discover/public/jmlr_special_topic_causality.html">Call for papers</a> for special topic on Causality.  </li>
<li> JMLR will publish workshop and conference <a href="proceedings">proceedings</a>. </li>
<li><a href=papers/v7>Volume 7</a> completed; <a href=papers/v8>Volume 8</a> began. </li>
<li> Special topic on <a href=papers/topic/ml_sec.html>
Machine Learning for Computer Security</a> completed. </li>
<li> Special topic on <a href=papers/topic/ml_opt.html>
Machine Learning and Large Scale Optimization</a> completed. </li>
<li>Subscribe to the new <a href="feed://www.jmlr.org/jmlr.xml">RSS feed</a>.  <a href="/announcements.html"> Read more...</a></li>
<li>JMLR will publish <a href="discussion.html">Discussion Articles</a>.</li>
<li><a href="http://clopinet.com/isabelle/Projects/modelselect/call-for-papers.html">Call for papers</a> for special topic on Model Selection.  </li>
<li> Special topic on <a href=papers/topic/inductive_programming.html> Approaches and Applications of Inductive Programming</a> completed. </li>
<li> Try the new JMLR <a href="search-jmlr.html">search page</a>.   
<li><a href=papers/v6>Volume 6</a> completed; <a href=papers/v7>Volume 7</a> began. 
<li><a href="http://www.cs.fit.edu/~pkc/mlsec/">Call for
papers</a> for special topic on Machine Learning for Computer
Security.  
<li>JMLR has an ISI 2004 impact factor rating of 5.952, which is the
highest rating this year for a journal in artificial intelligence,
automation and control, or statistics and probability.  It is the
second highest rating of any computer science journal.  <a
href="indexing-and-selectivity.html">More on impact and indexing.</a>
<li><a href="http://www.jmlr.org/cfp/mllso.html">Call for papers</a> for special topic on Machine Learning and Large Scale Optimization.
<li><a href="http://www.jmlr.org/cfp/aaip.html">Call for papers</a> for special topic on Approaches and Applications of Inductive Programming.
<li><a href="http://www.jmlr.org/cfp/llpe.html">Call for papers</a> for special topic on Learning in Large Probabilistic Environments.
<li><a href=papers/v5>Volume 5</a> completed; <a href=papers/v6>Volume 6</a> began.
<li> Special topic on <a
href=papers/topic/learning_theory.html>Learning Theory</a> completed.
<li> Microtome Publishing and JMLR announce print archiving agreement 
(<a href="http://www.mtome.com/News/jmlr-release.html">Press Release</a>).
<li>JMLR has an ISI 2003 impact factor rating of 4.317, which is the
second highest rating of journals in artificial intelligence.
<a href="indexing-and-selectivity.html">More on impact and indexing.</a>
<li>Special issue on <a href=papers/special/ica03.html>Independent Components Analysis</a> published.     
<li>Special issue on <a href=papers/special/learning_theory03.html>Learning Theory</a> published.
<li>Special issue on <a href=papers/special/ilp03.html>Inductive Logic Programming</a> published.
<li>Special issue on the <a href=papers/special/kdfusion03.html>Fusion
	    of Domain Knowledge with Data for Decision Support</a> published.
<li><a href=papers/v3>Volume 3</a> completed; <a href=papers/v4>Volume 4</a> began.
<li>Special issue on <a href=papers/special/feature03.html>Variable
	      and Feature Selection</a> published. 
<li>Special issue on <a href=papers/special/text_images03.html>Learning Text and Images</a> published. 
<li>Special issue on <a href=papers/special/colt02.html>Computational
		Learning Theory</a> published. 
<li><a href=http://rhythm.ucsd.edu/~tewon/JMLR.html target="_blank">Call for papers</a>
for Special issue on Independent Component Analysis.  
<li>Special issue on <a href=papers/special/shallow_parsing02.html>Shallow
Parsing</a> published. 
<li>JMLR selected for the <a href="http://scout.cs.wisc.edu"
                  target=_blank>Internet Scout Project</a> <a target=_new
                                                            href="http://scout.c
s.wisc.edu/nsdl-reports/met/2002/met-020524.html">National Science Digital Library Report for Math, Engineering,
                and Technology</a> (5/24/2002).
<li><a href="http://www.cs.rhul.ac.uk/colt/JMLR.html" target="_blank">Call for
papers</a> for special issue on Learning from Text and Images.  
<li><a
href="http://www.clopinet.com/isabelle/Projects/NIPS2001/call-for-papers.html"
target="_blank">Call for papers</a> for special issue on Variable and Feature
Selection.
<li>JMLR will be abstracted and/or indexed by <a 
href="http://www.zblmath.fiz-karlsruhe.de/MATH/home"
target="_blank">Zentralblatt MATH</a>, <a
href="http://www.ams.org/mathscinet" target="_blank">Mathematical
Reviews/MathSciNet</a>, <a
href="http://labs.blackwellpublishers.co.uk"
target="_blank">Linguistics Abstracts</a>,  <a
href="http://www.ebsco.com/online" target="_blank">EBSCO</a>,
<a href="http://www.apa.org/psycinfo/" target="_blank"> PsycINFO/Psychological Abstracts</a>, <a href="http://www.iee.org.uk/publish/inspec/" target="_blank">INSPEC</a>, and <a href="http://www.reviews.com" target="_blank">Computing Reviews</a>.
  
<li>JMLR <a
	  href="http://chronicle.merit.edu/free/2001/10/2001101801t.htm" target="_blank">written up</a> in the <a href="http://chronicle.merit.edu" target="_blank">Chronicle of Higher Education</a>.
<li>Leading ML researchers issue <a href="statement.html">statement</a> of support for JMLR.
<li><a href="http://www.arl.org/sparc" target="_blank">SPARC</a>
	announces partnership with JMLR (<a href="sparc-pr.html">Press Release</a>).
</ul>

</div> 
{% endblock %}