{% extends "base.html" %}

{% block content %}

<h2>
Guidelines for JMLR reviewers</h2>
<font size=+1>Please touch upon as many of the following points as practical:</font>
<br>
<hr WIDTH="100%"><b></b>
<p><b>Goals</b>: What are research goals and learning task?
<p><b>Description</b>: Is the description adequately detailed for others
to replicate the work? Is it clearly written in good style and does it
include examples? Papers describing systems should clearly describe the
contributions or the principles underlying the system. Papers describing
theoretical results should also discuss their practical utility.
<p><b>Evaluation</b>: Do the authors evaluate their work in an adequate
way (theoretically and/or empirically)? Are all claims clearly articulated
and supported either by empirical experiments or theoretical analyses?
If appropriate, have the authors implemented their work and demonstrated
its utility on a significant problem?
<p><b>Significance</b>: Does the paper constitute a significant, technically
correct contribution to the field that is appropriate for JMLR? Is it sufficiently
different from prior published work (by the author or others) to merit
a new publication? Is it clear how the work advances the current state
of understanding, and why the advance matters?
<p><b>Related Work and Discussion</b>: Are strength and limitations and
generality of the research adequately discussed, in particular in relation
to related work? Do the authors clearly acknowledge and identify the contributions
of their predecessors?
<p><b>Clarity</b>: Is it written in a way such that an interested reader
with a background in machine learning, but no special knowledge of the
paper's subject, could understand and appreciate the paper's results? In
particular,
<ul>
<ol>
<li>
Is it written in a clear, readable style, with good grammar and few (if
any) typographical errors?</li>

<li>
Are the goals and contributions of the work clearly and correctly stated?</li>

<li>
Are the problem description, approach and evaluation adequately detailed
for others to replicate the work?</li>

<li>
If the paper introduces new terminology or techniques, does it explain
why current terminology or techniques are insufficient?</li>

<li>
Does it include examples?</li>
</ol>
</ul>
<b>Recommendation</b>: Please also recommend a decision: accept, conditional
accept, reject with encouragement to revise and resubmit, and reject.&nbsp;
If you suggest conditional accept, please provide a precise list of changes
that can easily be checked upon resubmission.
<p>

{% endblock %}
