{% block extraheader %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
<script>
$(function () {
    $('#container').highcharts({
        credits: false, 
        chart: {
            type: 'column'
        },
        title: {
            text: 'JMLR Annual Statistics'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                '2003',
                '2004',
                '2005',
                '2006',
                '2007',
                '2008',
                '2009',
                '2010',
                '2011',
                '2012',
                '2013',
                '2014',
                '2015',
                '2016',
                '2017',
                '2018',
                '2019'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Submitted',
            data: [143, 286, 380, 486, 434, 514, 484, 568, 536, 664, 764, 710, 840, 839, 972, 1162, 1478]

        }, {
            name: 'Accepted',
            data: [17, 34, 72, 93, 96, 102, 102, 110, 102, 124, 135, 135, 148, 156, 162, 165, 176]

        }]
    });
});
</script>
{% endblock %}
