{% extends "base.html" %}


{% block content %}
<div id="container" style="min-width: 310px; margin: 0 auto">

    <h2>Number of papers submitted each year</h2>
    <img src="/img/submitted_papers.svg" alt="">

    <br><br>
    <h2>Average time to decision</h2>
    <img src="/img/time_to_decision.svg" alt="">
    <p>
        Number of days from submission to decision for papers that are sent to reviewers. The dark line shows median, while lighter intervals represent 25-75 and 10-10 percentile respectively.
    </p>

    <br><br>
    <p>Plots by <a href="https://valentina.borghesani.org/">Valentina Borghesani</a> and <a href="http://fa.bianp.net/">Fabian Pedregosa</a>.</p>
</div>
{% endblock %}
