<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131826476-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131826476-1');
    </script>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">


<title>{% block title %}Journal of Machine Learning Research{% endblock %}</title>


<link rel="alternate" type="application/rss+xml" href="http://www.jmlr.org/jmlr.xml" title="JMLR RSS">
<link rel="stylesheet" type="text/css" href="http://www.jmlr.org/style.css">
<style type="text/css">
. {font-family:verdana,helvetica,sans-serif}
a {text-decoration:none;color:#3030a0}

#fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    height: 100%;
}
body > #fixed {
    position: fixed;
}
#content {
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 0.5em;
}
img.jmlr {
    width: 7em;
}
img.rss {
    width: 2em;
}
</style>

{% block extraheader %}
{% endblock %}

</head>
<body>

  <div id="fixed">
  <br>
  <a align="right" href="/" target=_top><img align="right" class="jmlr" src="/img/jmlr.jpg" border="0"></a> 
  <p><br><br>
  <p align="right"> <A href="/"> Home Page </A> 

  <p align="right"> <A href="/papers"> Papers </A> 

  <p align="right"> <A href="/author-info.html"> Submissions </A> 

  <p align="right"> <A href="/news.html"> News </A> 

  <!--<p align="right"> <A href="/scope.html"> Scope </A>-->

  <p align="right"> <A href="/editorial-board.html"> Editorial Board </A> 

  <p align="right"> <A href="/announcements.html"> Announcements </A>

  <p align="right"> <A href="/proceedings"> Proceedings </A>

  <p align="right"> <A href="/mloss">Open Source Software</A>

  <p align="right"> <A href="/search-jmlr.html"> Search </A>

  <p align="right"> <A href="/stats.html">Statistics</A>

  <p align="right"> <A href="/manudb"> Login </A></p>

  <p align="right"> <A href="/contact.html"> Contact Us </A></p>

  <br><br>
  <p align="right"> <A href="/jmlr.xml"> 
  <img src="/img/RSS.gif" class="rss" alt="RSS Feed">
  </A>



  </div>

<div id="content">
  {% block content %}
  
  {% endblock %}
                      
<table width="100%"> <tr>
<td
align="right"><font size="-1">&copy <a target="_top"
href="http://www.jmlr.org">JMLR</a> {{year}}.</font></td> </tr> </table>
               
</div>

</body>
</html>
