{% extends "base.html" %}

{% block content %}

<h1>Journal of Machine Learning Research</h1>

<p>
  The Journal of Machine Learning Research (JMLR), <a href="/history.html">established in 2000</a>, provides an
international forum for the electronic and paper publication of
high-quality scholarly articles in all areas of machine learning.  
All published papers are freely available online.
</p>

<p>
JMLR has a commitment to rigorous yet rapid reviewing. Final versions
are <a href="papers"> published electronically</a> (ISSN 1533-7928)
immediately upon receipt.  Until the end of 2004, paper volumes (ISSN
1532-4435) were published 8 times annually and sold to libraries and
individuals by the MIT Press.
                                                                                      
Paper volumes (ISSN 1532-4435) are now published and sold by 
<a href="http://www.mtome.com/">Microtome Publishing</a>.  <p>

<h2>News</h2>
<ul>
  <li><i>2025.02.10</i>: <a href="/papers/v25">Volume 25</a> completed; <a href="/papers/v26">Volume 26</a> began. </li>
  <li><i>2024.02.18</i>: <a href="/papers/v24">Volume 24</a> completed; <a href="/papers/v25">Volume 25</a> began. </li>
  <li><i>2023.01.20</i>: <a href="/papers/v23">Volume 23</a> completed; <a href="/papers/v24">Volume 24</a> began. </li>
  <li><i>2022.07.20</i>: New <a href="/special_issues/climate_change.html">special issue on climate change</a>.</li>
  <li><i>2022.02.18</i>: New blog post: <a href="/news/2022/retrospectives.html">Retrospectives from 20 Years of JMLR
  </a>. </li>
  <li><i>2022.01.25</i>: <a href="/papers/v22">Volume 22</a> completed; <a href="/papers/v23">Volume 23</a> began. </li>
  <li><i>2021.12.02</i>: <a href="news/2021/schoelkopf-retirement.html">Message from outgoing co-EiC Bernhard Schölkopf</a>. </li>
  <li><i>2021.02.10</i>: <a href="/papers/v21">Volume 21</a> completed; <a href="/papers/v22">Volume 22</a> began. </li>
  <li><a href="/news.html">More news ...</a></li>
</ul>


<br>


<h2>Latest papers</h2>


{%for paper in info_list %}
<p>
<dl>
<dt>{{paper.title_html|safe}}</dt> 
<dd><b><i>{{paper.authors_string}}</i></b>, {{paper.year}}. {% if paper.special_issue == "MLOSS" %} <a href="http://www.jmlr.org/mloss/"><i>(Machine Learning Open Source Software Paper)</i></a> {% endif %}
<br>[<a href='/papers/v{{paper.volume}}/{{paper.id}}.html'>abs</a>][<a target=_blank href='/papers/volume{{paper.volume}}/{{paper.id}}/{{paper.id}}.pdf'>pdf</a>][<a href="/papers/v{{paper.volume}}/{{paper.id}}.bib">bib</a>]
{% if paper.extra_links %}
&nbsp;&nbsp;&nbsp;&nbsp;
{% for link in paper.extra_links %}
 [<a href="{{link[1]}}">{{link[0]}}</a>]
{% endfor %}
{% endif %}
</dl>
</p>
{% endfor %}
<p><a href="/papers/">Full list</a>
</p>
{% endblock %}
