
{% extends "base.html" %}

{% block content %}
    <p class="c2">
        <span class="c0">Message from outgoing co-EiC Bernhard Schölkopf</span>
      </p>
      <p class="c2">
        <span class="c0">December 2, 2021</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">Dear JMLR authors and readers,</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">I am writing to announce that I will retire from my position as JMLR Co-editor-in-chief. </span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">My connection to JMLR started in 2000, when Leslie Pack Kaelbling, JMLR’s founding EiC asked me if I would be willing to join a new journal as one of the founding action editors.</span>
      </p>
      <p class="c2">
        <span class="c8">Leslie’s idea was to start a machine learning journal whose contents are freely available to the research community at large via the (at the time, still young) web. At the time, the flagship journal of the field was </span>
        <span class="c4">Machine Learning</span>
        <span class="c8">.  Following discussions with its (then) publisher Kluwer about expensive subscription fees and closed access, most of the editorial board of that journal resigned in 2001 and joined JMLR (</span>
        <span class="c3">
          <a class="c5" href="https://www.google.com/url?q=http://sigir.org/files/forum/F2001/sigirFall01Letters.html&amp;sa=D&amp;source=editors&amp;ust=1638635786800000&amp;usg=AOvVaw1Ns-jYnUZ_t2ATtXHd4-uv">http://sigir.org/files/forum/F2001/sigirFall01Letters.html</a>
        </span>
        <span class="c0">). JMLR very much hit a nerve. It quickly established itself as the new flagship journal of the field, a position that it has held until now, still entirely run by volunteers.</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">In 2012, Leslie contacted me again, to invite me to take over the EiC role from Lawrence Saul, who had been her successor. I suggested making it a two-person job, and we managed to get Kevin Murphy to join the team. We started in 2013. In 2017, Kevin moved on, and we welcomed Dave Blei and Francis Bach to the editorial leadership, starting 2018. Since JMLR had grown significantly, I stayed on board for a transition period, which ended up taking until now, a little longer than expected.. </span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">If I think back to my years with JMLR, these are some of the significant developments: </span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">- growth: the number of monthly JMLR submissions increased from around 30 in 2013 to well above 100 today</span>
      </p>
      <p class="c2">
        <span class="c0">- we have moved to a CC-By license</span>
      </p>
      <p class="c2">
        <span class="c0">- strategy: we have started turning JMLR into an umbrella journal, with PMLR (launched by Neil Lawrence initially as “JMLR Conference and Workshop Proceedings") the first offspring. Another exciting project, TMLR, will be launched soon (stay tuned).</span>
      </p>
      <p class="c2">
        <span class="c0">- printed volumes: earlier this year, we decided to stop printing volumes with Vol. 20. Printed volumes were a big deal when we started JMLR… but I don't know who of you ever held one in their hand. Vol. 20 will be the last one. Maybe it will be valuable one day!</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">As a community, we are lucky that - in contrast to many other fields - our top journal offers open access at zero cost, and we have been standing up to keep it that way (many will remember the discussion that led to <a href="https://openaccess.engineering.oregonstate.edu/">https://openaccess.engineering.oregonstate.edu/</a>). It is clear that as our field continues to grow and attract broad attention, there is space (and economic incentive) for more journals. At the same time, it is important as ever that the leading research in machine learning is published openly and accessible for free: AI is having a major impact on our lives, societies, and economies, and most of its advances are driven by machine learning and inference. To be able to shape it positively, the world needs to know about the underlying technology. </span>
      </p>
      <p class="c2">
        <span class="c0">In spite of all commercial competition, JMLR is as strong as ever, and the adoption of an umbrella strategy should allow us to keep up with the growth of the field while retaining our open and inclusive approach to publishing.</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">Although I have to admit that there were moments when the JMLR duty was a chore on top of all my other work, I am sad to leave. Only just a little, though, since Francis and Dave are spectacular successors and I am confident that they will secure and further develop JMLR's standing as the flagship journal of machine learning and inference, including areas of artificial intelligence significantly driven by this. </span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c8">I would like to express my deep gratitude to everybody who has helped make JMLR what it is today, be it as reviewers, AEs, production editors and volunteers - most recently, especially Alp Kucukelbir, Fabian Pedregosa, Tegan Maharaj, Chiyuan Zhang, Aron Culotta, Charles Sutton, and Karin Bierig. I also thank the previous EiCs Lawrence Saul and Kevin Murphy, and especially Leslie Pack Kaelbling not only for wise advice whenever I asked, but also for her leadership to establish JMLR in the first place. And I offer my final apologies to all AEs and delinquent reviewers whom I occasionally have pestered too much, and all authors whose papers took too long!</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">Overall, I have been working as co-EiC for more than eight years. I think there has never been a better moment to step down than now, with the field thriving, and its flagship journal JMLR in the best of hands with Francis and Dave. Let’s all help them keep JMLR going strong.</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c2">
        <span class="c0">Stay safe -</span>
      </p>
      <p class="c2">
        <span class="c0">Bernhard</span>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c1">
        <span class="c0"/>
      </p>
      <p class="c1">
        <span class="c7"/>
      </p>
{% endblock %}
