{% extends "base.html" %}

{% block content %}
<h1>ML addressing problems of Climate Change</h1>


<p>
    We welcome all submissions which use machine learning to address problems of climate change, including mitigation, adaptation, and climate science. Submissions will be evaluated primarily on their description of pathway to impact (how their research contributes to solving the problem outlined), together with their contribution to the field of machine learning. This includes (but is not limited to) clear definition of a novel problem area, novel methods for addressing the problem, novel, rigorous, and well-validated empirical or theoretical insight about ML and its utility for solving the problem. 
</p>

<h4>Chairs</h4>
<ul>
    <li>Yoshua Bengio</li>
    <li>Shakir Mohamed</li>
</ul>


<h4>Affiliation</h4>

<p><a href="https://www.climatechange.ai/">Climate Change AI
</a> via Tegan Maharaj</p>


<h4>Submission</h4>

<p>Via the <a href="https://jmlr.org/author-info.html">JMLR submission system</a></p>

{% endblock %}