{% extends "base.html" %}

{% block content %}
<h1>Contact and FAQ</h1>

<h2>Contact:</h2>

<p class="c1"><span class="c7">General queries, suggestions, and nominations: </span><span class="c7 c15"><a class="c13"
            href="mailto:special.issues@jmlr.org">special.issues@jmlr.org</a></span></p>
<p class="c1"><span class="c7">Submission issues: </span><span class="c15 c7"><a class="c13"
            href="mailto:managing@jmlr.org">managing@jmlr.org</a></span></p>
<p class="c2 c5"><span class="c3"></span></p>

<h2>FAQ</h2>
<p class="c2 c5"><span class="c3"></span></p>
<p class="c1"><span class="c3">See also:</span></p>
<p class="c1"><span class="c15 c7"><a class="c13"
            href="https://www.google.com/url?q=https://jmlr.org/author-info.html&amp;sa=D&amp;source=editors&amp;ust=1648421115740739&amp;usg=AOvVaw1jiZUoBapCCsCXFJSPPt53">JMLR&rsquo;s
            Submission Guidelines</a></span><span class="c7"><br></span><span class="c15 c7"><a class="c13"
            href="https://www.google.com/url?q=https://jmlr.org/faq.html&amp;sa=D&amp;source=editors&amp;ust=1648421115741073&amp;usg=AOvVaw2dhsehhd-p5WYn0UD7IUHE">JMLR
            FAQ</a></span></p>
<p class="c2 c5"><span class="c3"></span></p>
<p class="c1"><b>Q: I want to propose a special topic, but I&rsquo;m not an AE, how can I do
        that?</b><span class="c3"><br>A: At this time we&rsquo;re only accepting proposals from AEs.</span></p>
<p class="c2 c5"><span class="c3"></span></p>
<p class="c1"><b>Q: I&rsquo;m not sure if my submission should go in a Special Issue or not, what should
        I do?</b></p>
<p class="c1"><span class="c7">A: It is up to you - like the rest of JMLR, we do not accept pre-submission inquiries.
        Read the submission guidelines for the Special Issue you are interested in, and decide if your submission is
        appropriate.</span>
    <hr style="page-break-before:always;display:none;">
</p>
{% endblock %}