{% extends "base.html" %}

{% block content %}
<h1>Journal of Machine Learning Research Special Issues</h1>

<p>
Machine learning is expanding in many subfields, interdisciplinary connections, and application areas. With the goal of exposing and encouraging excellent scholarship in these novel areas, JMLR is trialling a new procedure for Special Issues. This procedure will be in place for 1 year (2022), after which time it will be reviewed, and a different procedure may be implemented. 
</p>

<p>
Special issues (SIs) are overseen similar to a workshop, but with the review process being JMLR's usual review. Once a topic is approved by the board, the Chair or Chairs (who must be JMLR AEs) are responsible to recruit reviewers for incoming papers, who must meet the usual standards for JMLR reviewers. We encourage streamlining with existing workshops: Chairs or their collaborators may identify potential reviewers from those familiar with an initial version of the work submitted to a workshop. Like all JMLR issues, submissions are accepted on a rolling basis. Either the board or the Chairs may decide to end a special issue at any time, or decide on a set period of time at the outset. 
</p>

<p>
Each Special Issue will have its own call for papers, but all accepted papers will meet the usual standards for publication in JMLR. Submissions will use JMLR's submission system.
</p>

<p>
  If you submit to a special issue, please state clearly in the cover letter the special issue you are submitting to.
</p>
{% endblock %}
