{% extends "base.html" %}

{% block content %}
<h1>List of Special Issues</h1>

<h2>Active</h2>

<p>
    <a href="climate_change.html">ML addressing problems of Climate Change </a>
</p>

<h2>Past</h2>
<p>
<a href="/papers/special/chervonenkis15.html"><font class="volume">In Memory of Alexey Chervonenkis</font></a> (Sep 2015)
</p>
<p>
<a href="/papers/special/ica03.html"><font class="volume">Independent Components Analysis</font
class="volume"></a> (December 2003)
</p>
<p>
<a href="/papers/special/learning_theory03.html"><font class="volume">Learning Theory</font
class="volume"></a> (Oct 2003)
</p>
<p>
<a href="/papers/special/ilp03.html"><font class="volume">Inductive Logic Programming</font
class="volume"></a> (Aug 2003)
</p>
<p>
<a href="/papers/special/kdfusion03.html"><font class="volume">Fusion of Domain Knowledge with Data for Decision Support</font
class="volume"></a> (Jul 2003)
</p>
<p>
<a href="/papers/special/feature03.html"><font class="volume">Variable and Feature Selection</font
class="volume"></a> (Mar 2003)
</p>
<p>
<a href="/papers/special/text_images03.html"><font class="volume">Machine Learning Methods for Text and Images</font
class="volume"></a> (February 2003)
</p><p>
<a href="/papers/special/icml01.html"><font class="volume">Eighteenth International Conference on Machine Learning (ICML2001)</font
class="volume"></a> (December 2002)
</p>
<p>
<a href="/papers/special/colt02.html"><font class="volume">Computational Learning Theory</font
class="volume"></a> (Nov 2002)
</p>
<p>
<a href="/papers/special/shallow_parsing02.html"><font class="volume">Shallow Parsing</font
class="volume"></a> (Mar 2002)
</p>
<p>
<a href="/papers/special/kernel01.html"><font class="volume">Kernel Methods</font
class="volume"></a>
(December 2001)
</p>
{% endblock %}
