{% extends "base.html" %}

{% block content %}
<h1>Procedure for nominating a Special Issue</h1>

<p>
    Any Action Editor (AE) who is willing to Chair (or co-chair) a special topic may propose a special topic issue; this will be discussed at the next editorial board meeting and approved by consensus. If someone other than an AE wishes to propose a special topic, they would need to get a 'champion' among the AEs or editorial board who commits to be the Chair for that special topic. 
</p>

<p>
    AE commitments as special topic chair:
    <ul>
        <li>Bring the special topic to the editorial board as detailed below, and answer any questions about it the board has
        </li>
        <li>Act as AE, and/or find other AEs, for each paper submitted to the special topic
        </li>
        <li>Find appropriate reviewers for each paper submitted to the special topic (for interdisciplinary works, this requires at least 2 ML reviewers and 2 domain experts. Where a reviewer has expertise in both fields they may count in both categories, i.e. 2 reviewers with expertise in both ML + domain would be sufficient)
        </li>
    </ul>
    </p>

<p>
    To propose a special issue:
    <ol>
        <li><a href="https://docs.google.com/document/d/1sckP4DjQ_WCaoZY5p5nxMMHpqE6C8yudEpIO8BI1Ek4/edit#">Use this template</a> to describe the following components:
            <ul>
                <li>Title</li>
                <li>Chair or co-chairs, all of whom must be AEs (we suggest having at least 2 co-chairs</li>
                <li>Other people to be involved (e.g. for networking reviewers or inviting submissions), if any</li>
                <li>2-5 sentence summary of the special topic</li>
                <li>Desired closing date, if any</li>        
            </ul>
        </li>
        <li>Submit your completed form as a pdf to <a href="mailto:special.topics@jmlr.org">special.topics@jmlr.org</a>
        </li>
    </ol>
    
    </p>

    <p>
        If approved, the special topic will be announced on the website and via the newsletter, and reviewed by the board each year to consider whether it should remain open. If the board thinks not, they should discuss with the Chair(s) about closing it, and ideally only do so by consensus. But the board may choose to close a topic for any reason at any time.
    </p>

    <p>
        This procedure will be in place for 1 year, after which time it will be reviewed, and a different procedure may be implemented (e.g. a form for more open/general suggestion of special topics)
    </p>

    <p>
        Your feedback is welcomed via <a href="mailto:special.topics@jmlr.org">special.topics@jmlr.org</a>

    </p>
{% endblock %}